@import 'variables';

:host {
  .equipment {
    position: relative;
    overflow: hidden;
    padding: 32px;
    gap: 32px;

    @include breakpoint-md() {
      overflow: scroll;
    }

    @include breakpoint-sm() {
      padding: 32px 0 0 0;
    }

    .header {
      gap: 16px;
      justify-content: space-between;

      @include breakpoint-sm() {
        padding: 0 16px;
      }

      &__title-and-description {
        gap: 4px;
      }
    }

    .filter {
      @include breakpoint-sm() {
        padding: 0 16px;
      }
    }

    &-list {
      padding: 24px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 20px;
      overflow: scroll;
      border-radius: 12px;
      background-color: $color-grey-50;

      @include breakpoint-sm() {
        padding: 0 16px;
        border-radius: 0;
        border: unset;
        overflow: unset;
        box-shadow: none;
        background-color: unset;
      }
    }

    .device {
      position: relative;
      height: fit-content;
      border-radius: 16px;
      padding: 16px;
      background-color: $color-white;
      border: 1px solid $color-grey-200;

      &:hover {
        border-color: $color-primary-400;
      }

      &.active {
        border: 1px solid $color-primary-300;
        box-shadow: 0px 1px 2px $color-grey-100, 0px 0px 0px 4px $color-primary-100;
      }

      &__image {
        aspect-ratio: 2.5;
        border-radius: 8px;
        object-fit: cover;
      }

      &__header {
        margin-top: 16px;
        align-items: center;
        gap: 8px;

        .available-indicator {
          min-width: 6px;
          width: 6px;
          max-width: 6px;
          min-height: 6px;
          height: 6px;
          max-height: 6px;
          border-radius: 6px;
          background-color: $color-success-600;

          &.unavailable {
            background-color: $color-error-600;
          }
        }

        h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }
      }
    }
  }
}
