<mat-card class="article-general full-width full-height" [formGroup]="articleForm">
  <mat-card-header class="flex-column article-general__header">
    <mat-card-title>Article details</mat-card-title>
    <mat-card-subtitle>Take a quick glance at the article details</mat-card-subtitle>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-card-content class="flex-column article-general__content">
    <div class="flex-row content-field">
      <p *ngIf="!isMobile" class="text-sm text-semibold">Title</p>
      <div class="flex-row form-fields full-width">
        <mat-form-field *skeleton="loadingArticle; type: isMobile ? SkeletonType.FORM_FIELD : SkeletonType.FORM_FIELD_WITHOUT_LABEL">
          <mat-label *ngIf="isMobile" class="text-sm text-medium">Title</mat-label>
          <textarea formControlName="title" matInput text="text" placeholder="Enter title" cdkTextareaAutosize></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="flex-row content-field">
      <p *ngIf="!isMobile" class="text-sm text-semibold">Subtitle</p>
      <div class="flex-row form-fields full-width">
        <mat-form-field *skeleton="loadingArticle; type: isMobile ? SkeletonType.FORM_FIELD : SkeletonType.FORM_FIELD_WITHOUT_LABEL">
          <mat-label *ngIf="isMobile" class="text-sm text-medium">Subtitle</mat-label>
          <textarea formControlName="subtitle" matInput text="text" placeholder="Enter subtitle" cdkTextareaAutosize></textarea>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-row content-field">
      <p *ngIf="!isMobile" class="text-sm text-semibold">Author</p>
      <div class="flex-row form-fields full-width">
        <mat-form-field *skeleton="loadingArticle; type: isMobile ? SkeletonType.FORM_FIELD : SkeletonType.FORM_FIELD_WITHOUT_LABEL">
          <mat-label *ngIf="isMobile" class="text-sm text-medium">Author</mat-label>
          <mat-select formControlName="authorId" placeholder="Select author">
            <mat-option *ngFor="let author of authors" [value]="author.id"> {{ author.firstName }} {{ author.lastName }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-row content-field">
      <p *ngIf="!isMobile" class="text-sm text-semibold">Categories</p>
      <div class="flex-row form-fields full-width">
        <!-- <mat-form-field *skeleton="loadingArticle; type: isMobile ? SkeletonType.FORM_FIELD : SkeletonType.FORM_FIELD_WITHOUT_LABEL">
          <mat-label *ngIf="isMobile" class="text-sm text-medium">Categories</mat-label>
          <input formControlName="categories" matInput text="text" placeholder="Enter categories" />
        </mat-form-field> -->
        <mat-form-field *skeleton="loadingArticle; type: isMobile ? SkeletonType.FORM_FIELD : SkeletonType.FORM_FIELD_WITHOUT_LABEL">
          <mat-label *ngIf="isMobile" class="text-sm text-medium">Categories</mat-label>
          <mat-select formControlName="categories" placeholder="Select categories" multiple>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ getArticleCategoryTranslationKey(category) | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-row content-field">
      <p *ngIf="!isMobile" class="text-sm text-semibold">Published</p>
      <div class="flex-row form-fields full-width">
        <mat-form-field *skeleton="loadingArticle; type: isMobile ? SkeletonType.FORM_FIELD : SkeletonType.FORM_FIELD_WITHOUT_LABEL">
          <mat-label *ngIf="isMobile" class="text-sm text-medium">Published</mat-label>
          <app-datepicker-input formControlName="published" [dateRange]="false"></app-datepicker-input>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
