@import 'variables';

:host {
  .form__details {
    gap: 24px;

    .form__inputs {
      gap: 16px;

      &--desktop {
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
      }
    }
  }

  .desktop-form {
    @include breakpoint-sm() {
      display: none;
    }
  }

  .mobile-form {
    display: none;
    align-items: center;
    gap: 24px;

    @include breakpoint-sm() {
      display: flex;
    }

    .paginator {
      margin-top: auto;
    }
  }
}
