@import 'variables';

::ng-deep body {
  background-color: $color-primary-700 !important;
}

:host {
  .sidenav,
  .sidenav-content,
  .foreground {
    background-color: $color-primary-700;
  }

  .sidenav {
    border: none;
    overflow: visible;

    ::ng-deep .mat-drawer-inner-container {
      overflow: visible;
    }
  }

  .sidenav-content {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: margin-left 200ms ease;
  }

  .foreground {
    flex: 0 0 12px;
  }

  .main {
    padding: 32px 0px 16px 0px;
    border-top-left-radius: 40px;
    background-color: $color-white;
    overflow: hidden;
  }
}
