<mat-sidenav-container fullscreen cdkscrollable [hasBackdrop]="false">
  <mat-sidenav class="sidenav" position="end" #sidenav role="navigation" [opened]="true" position="start" [mode]="sidebarMode">
    <app-interface-sidebar
      class="desktop-sidebar full-height"
      [collapsedWidth]="collapsedWidth"
      [expandedWidth]="expandedWidth"
      (sidenavClose)="sidenav.close()"
      (collapsedChange)="collapsedChange($event)"
    ></app-interface-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content" [ngStyle]="{'margin-left': getLeftMargin()}">
    <main class="main full-height">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
