<main class="terms flex-column">
  <header class="terms__header">
    <p class="text-md text-semibold sub-heading" classMd="text-sm">Updated on June 19, 2023</p>
    <h2 class="display-lg text-semibold heading" classMd="display-md">Terms of Service</h2>
    <p class="text-xl text-regular supporting-text" classMd="text-lg">By using the Sphience application, you agree to abide by these Terms of Service.</p>
  </header>
  <section class="terms__content">
    <p class="text-lg text-regular" classMd="text-md">
      These Terms of Service govern your use of the Sphience application and related services. If you do not agree to these terms, please do not use the services.
    </p>
    <h3 class="display-xs text-semibold sub-question" classMd="text-xl"><span class="numbering">1.</span> Acceptance of Terms</h3>
    <p class="text-lg text-regular" classMd="text-md">
      By accessing or using our Services, you acknowledge that you have read, understood, and agree to be bound by these Terms. If you are using the Services on behalf of an organization, you
      represent and warrant that you have the authority to bind the organization to these Terms.
    </p>
    <h3 class="display-xs text-semibold sub-question" classMd="text-xl"><span class="numbering">2.</span> Use of Services</h3>
    <p class="text-lg text-regular" classMd="text-md">
      <span class="alphabetic-list"><span class="numbering">a.</span> Eligibility</span> You must be at least 18 years old to use the Services. By using the Services, you represent and warrant that
      you are at least 18 years old.
      <br />
      <span class="alphabetic-list"><span class="numbering">b.</span> Account Registration</span> To access certain features of the Services, you may need to create an account. You agree to provide
      accurate, complete, and up-to-date information during the registration process and to keep your account information updated. You are responsible for maintaining the confidentiality of your
      account credentials and for all activities that occur under your account.
      <br />
      <span class="alphabetic-list"><span class="numbering">c.</span> Prohibited Activities</span> You agree not to engage in any activities that may interfere with or disrupt the functionality of the
      Services or violate any applicable laws or regulations.
    </p>
    <h3 class="display-xs text-semibold sub-question" classMd="text-xl"><span class="numbering">3.</span> Intellectual Property</h3>
    <p class="text-lg text-regular" classMd="text-md">
      <span class="alphabetic-list"><span class="numbering">a.</span> Ownership</span> The Services, including all content and intellectual property rights, are owned by Sphience or its licensors. You
      are granted a limited, non-exclusive, non-transferable license to use the Services for your personal and non-commercial purposes.
      <br />
      <span class="alphabetic-list"><span class="numbering">b.</span> Restrictions</span> You may not copy, modify, distribute, sell, or lease any part of the Services or access the Services through
      any means other than the provided interfaces.
    </p>
    <h3 class="display-xs text-semibold sub-question" classMd="text-xl"><span class="numbering">4.</span> Privacy</h3>
    <p class="text-lg text-regular" classMd="text-md">
      Protecting your privacy is important to us. Please refer to our Privacy Policy [insert link to Privacy Policy] to understand how we collect, use, and protect your personal information.
    </p>
    <h3 class="display-xs text-semibold sub-question" classMd="text-xl"><span class="numbering">5.</span> User Content</h3>
    <p class="text-lg text-regular" classMd="text-md">
      <span class="alphabetic-list"><span class="numbering">a.</span> Responsibility</span> You are solely responsible for any content you upload, share, or transmit through the Services ("User
      Content"). By submitting User Content, you grant Sphience a non-exclusive, worldwide, royalty-free license to use, reproduce, modify, publish, and distribute the User Content for the purpose of
      providing and improving the Services.
      <br />
      <span class="alphabetic-list"><span class="numbering">b.</span> Prohibited Content</span> You agree not to upload or share any User Content that infringes upon the rights of others, violates any
      laws, or contains harmful or objectionable material.
    </p>
    <h3 class="display-xs text-semibold sub-question" classMd="text-xl"><span class="numbering">6.</span> Disclaimers and Limitation of Liability</h3>
    <p class="text-lg text-regular" classMd="text-md">
      <span class="alphabetic-list"><span class="numbering">a.</span> Warranty Disclaimer</span> The Services are provided "as is" without any warranties, whether express, implied, or statutory.
      Sphience disclaims all warranties, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.
      <br />
      <span class="alphabetic-list"><span class="numbering">b.</span> Limitation of Liability</span> In no event shall Sphience be liable for any indirect, incidental, consequential, or punitive
      damages arising out of or in connection with your use of the Services.
    </p>
    <h3 class="display-xs text-semibold sub-question" classMd="text-xl"><span class="numbering">7.</span> Modification of Terms</h3>
    <p class="text-lg text-regular" classMd="text-md">
      Sphience reserves the right to modify these Terms at any time. Any changes will be effective immediately upon posting of the revised Terms. Your continued use of the Services after the posting
      of the revised Terms constitutes your acceptance of the changes.
    </p>
    <p class="text-lg text-regular contact" classMd="text-md">If you have any questions or concerns about these Terms, please contact us at <u class="text-link">privacy&#64;spience.be</u>.</p>
  </section>
</main>
<mat-divider class="terms__divider"></mat-divider>
