@import "../../scss/variables.scss";

::ng-deep app-custom-dropdown {
  margin: 0 -4px -6px -4px !important;
  // margin: -6px -4px -12px -4px !important;
}

:host {
  $focus-border-width: 4px;

  .custom-select {
    &__input {
      position: relative;
      padding: $focus-border-width;

      mat-label {
        position: relative;
        top: -5px !important;
        color: $color-grey-700;
      }

      .select {
        height: 42px;
        gap: 8px;
        justify-content: space-between;
        padding: 10px 14px;
        border: 1px solid $color-grey-300;
        border-radius: 8px !important;
        cursor: pointer;

        &__input {
          width: 100%;
          border: 0;
          background-color: transparent;
          cursor: pointer;

          &::selection {
            background-color: transparent;
          }

          &:active,
          &:focus,
          &:focus-visible {
            outline: 0;
          }
        }

        &:focus-within,
        &.focused {
          border: 1px solid $color-primary-400;
          box-shadow: 0px 1px 2px $color-grey-100,
            0px 0px 0px 4px $color-primary-200;
        }

        &__icon {
          min-width: 20px;
          height: 20px;
          color: $color-grey-500;
        }
      }

      .options {
        position: absolute;
        z-index: 1;
        width: calc(100% - 2 * $focus-border-width);
        max-height: 320px;
        overflow: scroll;
        margin-top: 4px;
        padding: 6px;
        gap: 4px;
        background-color: $color-white;
        border: 1px solid $color-grey-200;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
          0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        border-radius: 8px;
        list-style: none;

        li {
          &.selected,
          &:focus,
          &:hover,
          &.hover {
            outline: 0;
            background: $color-grey-50;
            border-radius: 6px;
          }

          .list-text {
            justify-content: space-between;
            padding: 12px 8px;

            mat-icon {
              color: $color-primary-600;
            }
          }
        }
      }
    }

    &__hint {
      position: relative;
      mat-hint {
        position: absolute;
        padding: 0 4px;
      }
    }
  }
}
