<div class="custom-select">
  <div class="custom-select__input">
    <mat-label class="text-sm text-medium" (click)="focusSelectElement()">{{
      label
    }}</mat-label>
    <div
      class="flex-row select"
      [class.focused]="isDropdownOptionsShown()"
      (click)="toggleDropdown()"
    >
      <input
        #selectInput
        class="select__input"
        type="text"
        [value]="value"
        [placeholder]="placeholder"
        readonly
      />

      <mat-icon
        class="select__icon"
        [svgIcon]="isDropdownOptionsShown() ? 'chevron-up' : 'chevron-down'"
      ></mat-icon>
    </div>
    <ul class="flex-column options hidden">
      <li
        #listItems
        *ngFor="let option of options; index as index"
        class="text-md text-regular"
        [class.selected]="isOptionSelected(option)"
        [class.hover]="index === hoverIndex"
        (click)="selectOption(option)"
      >
        <span class="flex-row list-text">
          {{ option }}
          <mat-icon *ngIf="isOptionSelected(option)" svgIcon="check"></mat-icon
        ></span>
      </li>
    </ul>
  </div>
  <div class="custom-select__hint">
    <mat-hint *ngIf="hint" class="text-sm text-regular">{{ hint }}</mat-hint>
  </div>
</div>
