<section class="flex-column full-width">
  <mat-card class="password-card full-height" [formGroup]="passwordForm">
    <mat-card-header class="flex-column password-card__header">
      <mat-card-title>Password</mat-card-title>
      <mat-card-subtitle>Please enter your current password to change your password.</mat-card-subtitle>
      <mat-divider></mat-divider>
    </mat-card-header>
    <mat-card-content class="flex-column password-card__content">
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Current password</p>
        <div class="flex-row form-fields full-width">
          <mat-form-field>
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Current password</mat-label>
            <input formControlName="currentPassword" matInput type="password" placeholder="••••••••" />
            <mat-error *hasError="'currentPassword'; code: 'incorrect'">Current password is incorrect. Please try again.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">New password</p>
        <div class="form-fields full-width">
          <mat-form-field>
            <mat-label *ngIf="isMobile" class="text-sm text-medium">New password</mat-label>
            <input formControlName="newPassword" matInput type="password" placeholder="••••••••" />
            <mat-error *hasError="'newPassword'; code: 'minlength'">Choose a more secure password, longer than 8 characters.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Confirm new password</p>
        <div class="form-fields full-width">
          <mat-form-field>
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Confirm new password</mat-label>
            <input formControlName="confirmNewPassword" matInput type="password" placeholder="••••••••" />
            <mat-error *hasError="'confirmNewPassword'; code: 'noMatch'">New password does not match. Enter new password again here.</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <footer class="password__footer">
    <mat-divider class="full-width"></mat-divider>
    <div class="actions flex-row full-width">
      <button mat-stroked-button class="md">Cancel</button>
      <app-progress-button size="md" [loading]="savingPassword" (progressClick)="savePassword()">Update password</app-progress-button>
    </div>
  </footer>
</section>
