@import 'variables';

:host {
  .nav-sidebar {
    .sidebar__header {
      max-height: 56px;
      padding: 20px 16px;
      align-items: center;

      .nav__logo {
        position: relative;
        margin-right: auto;
        gap: 8px;
        align-items: center;

        mat-icon {
          min-width: 32px;
          min-height: 32px;
        }
      }

      .close {
        min-width: 40px;
        min-height: 40px;
        padding: 8px;
        color: $color-grey-500;
      }
    }

    .sidebar__content {
      padding: 36px 16px;
      overflow-y: scroll;
      justify-content: space-between;

      .content__links {
        gap: 32px;

        li {
          color: $color-grey-900;
          list-style-type: none;
        }
      }
    }

    .sidebar__footer {
      padding: 24px 16px;

      .content__footer {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 12px;
        justify-items: stretch;

        li {
          color: $color-grey-600;
          list-style-type: none;
        }
      }

      .content__actions {
        margin-top: 32px;
        gap: 12px;
      }
    }

    .divider {
      margin: 0 16px;
    }
  }
}
