<div class="nav-sidebar flex-column full-height">
  <mat-divider class="divider"></mat-divider>
  <div class="sidebar__content flex-column full-height">
    <div class="content__links flex-column">
      <p class="text-md text-semibold cursor-pointer" routerLink="/" (click)="sidenavClose.emit()">Home</p>
      <mat-accordion class="navigation">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-md text-semibold">Company</mat-panel-title>
          </mat-expansion-panel-header>
          <app-navigation-item link="about" icon="users" title="About us" text="Unveiling our journey, unlocking research potential." (click)="sidenavClose.emit()"></app-navigation-item>
          <app-navigation-item link="news" icon="newspaper" title="News" text="From lab to headlines, celebrating scientific achievements." (click)="sidenavClose.emit()"></app-navigation-item>
          <app-navigation-item link="contact" icon="phone-volume" title="Contact" text="Your gateway to reach us, start a conversation." (click)="sidenavClose.emit()"></app-navigation-item>
        </mat-expansion-panel>
      </mat-accordion>
      <p class="text-md text-semibold" (click)="sidenavClose.emit(); openDashboard()">Dashboard</p>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="sidebar__footer">
    <ul class="content__footer flex-column">
      <li class="text-md text-semibold" routerLink="/about" (click)="sidenavClose.emit()">About us</li>
      <li class="text-md text-semibold" routerLink="/privacy" (click)="sidenavClose.emit()">Privacy</li>
      <li class="text-md text-semibold" routerLink="/contact" (click)="sidenavClose.emit()">Support</li>
      <li class="text-md text-semibold" routerLink="/contact" (click)="sidenavClose.emit()">Contact</li>
    </ul>
    <div class="content__actions flex-column">
      <button mat-flat-button color="primary" routerLink="/register">Sign up</button>
      <button mat-stroked-button routerLink="/login">Log in</button>
    </div>
  </div>
</div>
