<nav class="nav flex-row">
  <div class="nav__logo flex-row" routerLink="/">
    <mat-icon svgIcon="logo-color"></mat-icon>
    <h3>Sphience</h3>
  </div>
  <ul class="nav__items flex-row">
    <li class="text-md text-semibold cursor-pointer" routerLink="/">Home</li>
    <li class="text-md text-semibold cursor-pointer navigation-menu" [matMenuTriggerFor]="menu">Company</li>
    <li class="text-md text-semibold cursor-pointer" (click)="openDashboard()">Dashboard</li>
  </ul>
  <div class="nav__actions flex-row">
    <button mat-button routerLink="/login">Log in</button>
    <button mat-flat-button color="primary" routerLink="/register">Sign up</button>
  </div>
  <div class="nav__hamburger">
    <mat-icon svgIcon="hamburger" (click)="sidenavToggle.emit()"></mat-icon>
  </div>
</nav>

<mat-menu #menu="matMenu" class="navigation-menu">
  <app-navigation-item link="about" icon="users" title="About us" text="Unveiling our journey, unlocking research potential."></app-navigation-item>
  <app-navigation-item link="news" icon="newspaper" title="News" text="From lab to headlines, celebrating scientific achievements."></app-navigation-item>
  <app-navigation-item link="contact" icon="phone-volume" title="Contact" text="Your gateway to reach us, start a conversation."></app-navigation-item>
</mat-menu>
