@import 'variables';

:host {
  .nav {
    position: fixed;
    z-index: 9999;
    max-height: 80px;
    padding: 20px 112px;
    align-items: center;

    @include breakpoint-md() {
      padding: 20px 56px;
    }

    @include breakpoint-md() {
      max-height: 56px;
      padding: 20px 16px;
    }

    &__logo {
      position: relative;
      z-index: 1;
      gap: 8px;
      align-items: center;

      mat-icon {
        min-width: 32px;
        min-height: 32px;
      }
    }

    &__items {
      position: relative;
      z-index: 1;
      padding: 0;
      margin-left: 40px;
      gap: 32px;
      margin-right: auto;

      @include breakpoint-sm() {
        display: none;
      }

      li {
        color: $color-grey-600;
        list-style-type: none;

        &.mat-mdc-menu-trigger {
          margin-right: 28px;
        }
      }
    }

    &__actions {
      position: relative;
      z-index: 1;
      gap: 12px;

      @include breakpoint-sm() {
        display: none;
      }
    }

    &__hamburger {
      position: relative;
      z-index: 1;
      display: none;
      margin-left: auto;

      @include breakpoint-sm() {
        display: flex;
      }

      mat-icon {
        width: 40px;
        height: 40px;
        padding: 4px;
        color: $color-grey-700;
        cursor: pointer;
      }
    }

    &__background {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      background-color: rgba($color-white, 0.7);
      box-shadow: 0 16px 32px 12px rgba(16, 24, 40, 0.05);
      -webkit-backdrop-filter: saturate(150%) blur(24px);
      backdrop-filter: saturate(150%) blur(24px);
    }
  }
}
