@import 'variables';

:host {
  .contact {
    &__form {
      align-items: center;
      padding: 96px 112px;

      @include breakpoint-md() {
        padding: 64px;
      }

      @include breakpoint-sm() {
        padding: 64px 16px;
      }

      .form__heading {
        max-width: 960px;
        text-align: center;
      }

      .form__inputs {
        margin-top: 96px;

        width: 480px;
        gap: 24px;

        @include breakpoint-md() {
          width: 100%;
          max-width: 360px;
          margin-top: 64px;
        }

        .form-row {
          gap: 32px;

          @include breakpoint-md() {
            flex-direction: column;
            gap: 24px;
          }
        }

        .text-erea {
          resize: none;
          height: 112px;
        }
      }
    }

    &__location {
      padding: 96px 112px 192px 112px;
      background-color: $color-grey-50;
      align-items: start;
      gap: 64px;

      @include breakpoint-lg() {
        flex-direction: column;
        align-items: center;
        gap: 48px;
      }

      @include breakpoint-md() {
        padding: 64px 64px 112px 64px;
        flex-direction: column;
      }

      @include breakpoint-sm() {
        padding: 64px 16px 112px 16px;
      }

      .location__heading {
        flex: 1;

        @include breakpoint-xs() {
          text-align: center;
        }
      }

      .location__info {
        flex: 1.5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 64px;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 32px;

        @include breakpoint-xl() {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }

        @include breakpoint-lg() {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }

        @include breakpoint-md() {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }

        @include breakpoint-sm() {
          column-gap: 28px;
          row-gap: 24px;
        }

        @include breakpoint-xs() {
          grid-template-columns: auto;
          grid-template-rows: repeat(6, 1fr);
          place-items: center;
          text-align: center;
        }

        .location {
          gap: 16px;

          mat-icon {
            margin-top: 2px;
            width: 24px;
            height: 24px;
            color: $color-primary-600;
          }

          .address {
            gap: 8px;
          }
        }
      }
    }

    &__image {
      $margin: 112px;
      $margin-md: 64px;
      $margin-sm: 16px;

      margin: -96px $margin 0 $margin;
      width: calc(100% - 2 * $margin);

      @include breakpoint-md() {
        // $margin: 64px;
        margin: -$margin-md $margin-md 0 $margin-md;
        width: calc(100% - 2 * $margin-md);
        aspect-ratio: 2;
      }

      @include breakpoint-sm() {
        // $margin: 16px;
        margin: -$margin-md $margin-sm 0 $margin-sm;
        width: calc(100% - 2 * $margin-sm);
        aspect-ratio: 1.33;
      }

      background-image: url('../../../assets/image/team.webp');
      background-size: cover;
      background-position: 0 100%;
      aspect-ratio: 2.33;
      border-radius: 8px;
    }

    .subheading {
      color: $color-primary-700;
    }

    .heading {
      margin-top: 12px;
    }

    .supporting-text {
      margin-top: 20px;
    }
  }
}
