<section class="not-found-section flex-column full-height">
  <div class="full-height">
    <div class="not-found__logo flex-column">
      <mat-icon svgIcon="search" class="featured-icon"></mat-icon>
    </div>
    <div class="not-found__header flex-column">
      <h2 class="display-xl text-semibold full-width">Page not found</h2>
      <p class="text-xl text-regular full-width">
        The page you are looking for doesn't exist.<br />
        Here are some helpful links:
      </p>
    </div>
    <div class="not-found__actions flex-row">
      <button mat-stroked-button (click)="goBack()"><mat-icon svgIcon="arrow-left"></mat-icon>Go back</button>
      <button mat-flat-button color="primary" routerLink="/">Take me home</button>
    </div>
  </div>
</section>
