@import 'variables';

:host {
  .not-found-section {
    align-items: center;
    padding-top: 208px;
    text-align: center;

    @include breakpoint-sm() {
      padding: 48px 16px;
    }
  }

  .not-found__logo {
    position: relative;
    gap: 8px;
    align-items: center;

    mat-icon {
      width: 56px !important;
      height: 56px !important;
      padding: 12px;
    }

    &::before {
      width: 768px;
      height: 768px;
      position: absolute;
      z-index: -1;
      top: 28px;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url('../../../assets/svg/illustration/grid-desktop.svg');
      background: radial-gradient(50% 50% at 50% 50%, $color-grey-200 0%, transparent 100%);
      content: '';
    }
  }

  .not-found__header {
    margin-top: 24px;
    align-items: start;
    gap: 24px;

    h2 {
      color: $color-grey-900;

      @include breakpoint-sm() {
        font-size: $fs-600;
        line-height: 122%;
        letter-spacing: -0.02em;
      }
    }

    p {
      color: $color-grey-600;

      @include breakpoint-sm() {
        font-size: $fs-200;
        line-height: 156%;
      }
    }
  }

  .not-found__actions {
    margin-top: 48px;
    justify-content: center;
    gap: 12px;

    @include breakpoint-sm() {
      flex-direction: column-reverse;
    }
  }
}
