<div class="news">
  <div class="news__heading">
    <p class="text-md text-semibold subheading" classMd="text-sm">Latest news</p>
    <h2 class="display-lg text-semibold heading" classMd="display-md">Stay in touch with our application</h2>
    <p class="text-xl text-regular supporting-text" classMd="text-lg">The latest industry news, interviews, technologies, and resources.</p>
  </div>
  <section class="main-article-big flex-column full-width cursor-pointer" [routerLink]="mainArticle.id">
    <div class="main-article-big__header flex-row">
      <h3 class="display-xs text-semibold">{{ mainArticle.title }}</h3>
      <mat-icon svgIcon="arrow-up-right"></mat-icon>
    </div>
    <p class="text-md text-regular main-article-big__supporting-text">{{ mainArticle.subtitle }}</p>
    <div class="flex-row main-article-big__author-and-categories">
      <div class="flex-column">
        <p class="text-sm text-semibold author-and-categories__heading">Written by</p>
        <div class="flex-row author-and-categories__content author">
          <mat-icon svgIcon="user"></mat-icon>
          <p class="text-sm text-semibold">{{ mainArticle.author }}</p>
        </div>
      </div>
      <div class="flex-column">
        <p class="text-sm text-semibold author-and-categories__heading">Published on</p>
        <p class="text-md text-semibold author-and-categories__content">{{ getDate(mainArticle.published) }}</p>
      </div>
      <div class="flex-column categories">
        <p class="text-sm text-semibold author-and-categories__heading">File under</p>
        <div class="flex-row category__items author-and-categories__content">
          <p *ngFor="let category of mainArticle.categories" class="text-sm text-medium">{{ category }}</p>
        </div>
      </div>
    </div>
  </section>
  <app-article-card
    class="main-article-small cursor-pointer"
    [image]="mainArticle.image"
    [subHeading]="mainArticle.categories[0]"
    [heading]="mainArticle.title"
    [supportingText]="mainArticle.subtitle"
    [author]="mainArticle.author"
    [published]="getDate(mainArticle.published)"
    [routerLink]="mainArticle.id"
  ></app-article-card>
  <section class="other-articles">
    <div *ngFor="let article of otherArticles">
      <app-article-card
        class="cursor-pointer"
        [image]="article.image"
        [subHeading]="article.categories[0]"
        [heading]="article.title"
        [supportingText]="article.subtitle"
        [author]="article.author"
        [published]="getDate(article.published)"
        [routerLink]="article.id"
      ></app-article-card>
    </div>
  </section>
</div>
