@import 'variables';

:host {
  .news {
    &::before {
      width: 100vw;
      height: 1440px;
      position: absolute;
      z-index: -1;
      top: 28px;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url('../../../assets/svg/illustration/grid2-desktop.svg');
      background: radial-gradient(50% 50% at 50% 50%, $color-grey-200 0%, transparent 100%);
      content: '';
    }

    padding: 96px 112px 64px 112px;

    @include breakpoint-md() {
      padding: 64px;
    }

    @include breakpoint-sm() {
      padding: 64px 16px;
    }

    &__heading {
      padding-bottom: 64px;
    }

    .main-article-big {
      position: relative;
      width: 100%;
      aspect-ratio: 7/4;
      border-radius: 16px;
      color: $color-white;

      &.padding {
        padding: 32px;
      }

      &.overlay {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background-size: cover;
        background-position: center;
      }

      @include breakpoint-lg() {
        display: none;
      }

      &__image {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
        z-index: -1;
      }

      &__header {
        margin-top: auto;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;

        h3 {
          color: $color-white;
        }

        mat-icon {
          min-width: 24px;
          height: 32px;
        }
      }

      &__supporting-text {
        margin-top: 8px;
        color: $color-white;
      }

      &__author-and-categories {
        margin-top: 24px;
        gap: 32px;

        & > div {
          height: 68px;

          &.categories {
            margin-left: auto;

            .category__items {
              gap: 8px;

              p {
                padding: 2px 10px;
                border-radius: 16px;
                color: $color-white;
                border: 1.5px solid $color-white;
              }

              @include breakpoint-lg() {
                p:not(:first-of-type) {
                  display: none;
                }
              }
            }

            @include breakpoint-md() {
              display: none;
            }
          }
        }

        .author-and-categories__heading {
          color: $color-white;
        }

        .author-and-categories__content {
          margin-top: auto;
          margin-bottom: 8px;
          color: $color-white;

          &.author {
            align-items: center;
            gap: 12px;

            p {
              color: $color-white;
            }
          }
        }
      }
    }

    .main-article-small {
      display: none;

      @include breakpoint-lg() {
        display: block;
      }

      // ::ng-deep .article__image {
      //   height: 400px;

      //   @include breakpoint-sm() {
      //     height: 316px;
      //   }

      //   @include breakpoint-xs() {
      //     height: 240px;
      //   }
      // }
    }

    .other-articles {
      margin-top: 72px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
      row-gap: 64px;

      @include breakpoint-lg() {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint-sm() {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .subheading {
    color: $color-primary-700;
  }

  .heading {
    margin-top: 12px;
  }

  .supporting-text {
    margin-top: 20px;
  }
}
