@import 'variables';

:host {
  .settings {
    position: relative;
    overflow: scroll;
    padding: 32px 0;

    h2 {
      padding: 0px 32px;

      @include breakpoint-sm() {
        padding: 0px 8px;
      }
    }

    &__tabs {
      padding: 24px 32px 32px 32px;

      @include breakpoint-sm() {
        padding: 16px 8px 24px 8px;
      }
    }

    &__footer {
      position: sticky;
      bottom: 0;
      display: flex !important;
      flex-direction: column !important;
      gap: 20px;
      background-color: $color-white;

      .actions {
        gap: 12px;
        justify-content: end;
      }
    }
  }
}
