@import 'variables';

:host {
  .settings {
    position: relative;
    padding: 0 32px;
    gap: 30px;
    overflow: hidden;

    @include breakpoint-sm() {
      padding: 0 16px;
    }

    .mat-tab-group {
      overflow: hidden;
      flex: 1 1 auto;
    }

    .mobile-tab-selector {
      display: none;

      @include breakpoint-sm() {
        display: block;
      }
    }
  }

  ::ng-deep .mat-mdc-tab-header {
    @include breakpoint-sm() {
      display: none;
    }
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
    margin: 0 -32px;

    .mat-mdc-tab-body {
      padding: 0 32px;

      .mat-mdc-tab-body-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
    }
  }
}
