@import 'variables';

:host {
  .settings {
    position: relative;
    overflow: hidden;
    padding-top: 32px;

    @include breakpoint-sm() {
      overflow: scroll;
    }

    &__field {
      display: flex;
      overflow: hidden;

      @include breakpoint-sm() {
        all: unset;
      }
    }
  }
}
