<div class="settings flex-column full-height">
  <app-header title="Settings" [tabs]="tabs" [needsConfirmation]="hasUnsavedChanges()" (tabChange)="onTabChange()"></app-header>

  <app-settings-details
    *ngIf="isTabActive(settingsTab.DETAILS)"
    class="full-height settings__field"
    [detailsForm]="detailsForm"
    (userUpdated)="onUserUpdate($event)"
    [isMobile]="isMobile"
  ></app-settings-details>
  <app-settings-password *ngIf="isTabActive(settingsTab.PASSWORD)" class="full-height settings__field" [passwordForm]="passwordForm" [isMobile]="isMobile"></app-settings-password>
</div>
