<div class="article">
  <img class="article__image" [src]="getImageSource()" [alt]="image" />
  <div class="article__content">
    <p class="text-sm text-semibold subheading">{{ subHeading }}</p>
    <div class="flex-row content__heading">
      <h3 class="display-xs text-semibold" classMd="text-xl">{{ heading }}</h3>
      <mat-icon svgIcon="arrow-up-right"></mat-icon>
    </div>
    <p class="text-md text-regular supporting-text">{{ supportingText }}</p>
    <div class="content__author flex-row">
      <mat-icon svgIcon="user"></mat-icon>
      <div>
        <h5 class="text-sm text-semibold">{{ author }}</h5>
        <p class="text-sm text-regular">{{ published }}</p>
      </div>
    </div>
  </div>
</div>
