<section class="privacy-policy flex-column">
  <div class="policy__header">
    <p class="text-md text-semibold sub-heading" classMd="text-sm">Privacy Policy</p>
    <h2 class="display-lg text-semibold heading" classMd="display-lg">We care about your privacy</h2>
    <p class="text-xl text-regular supporting-text" classMd="text-lg">
      Your privacy is important to us at Sphience. We respect your privacy regarding any information we may collect from you across our website.
    </p>
  </div>
  <div class="policy__content">
    <p class="text-lg text-regular" classMd="text-md">At Untitled, we collect various types of information from our users to provide and improve our services.</p>
    <h3 class="display-sm text-semibold question" classMd="display-xs">What information do we collect?</h3>
    <p class="text-lg text-regular" classMd="text-md">
      At Sphience, we may collect various types of personal information from you when you use our web application. This may include your name, email address, university affiliation, and other details
      that are necessary to provide our lending services. Additionally, we may collect device-related information and usage data, such as IP addresses and timestamps, to improve our services, analyze
      trends, and ensure the proper functioning of our platform.
    </p>
    <h3 class="display-sm text-semibold question" classMd="display-xs">How do we use your information?</h3>
    <p class="text-lg text-regular" classMd="text-md">
      The information we collect from you is used to provide and improve our lending system. We utilize your personal information to facilitate communication between users, process lending requests,
      verify eligibility, and enhance the overall user experience. We may also analyze the data we collect to gain insights into user behavior, preferences, and trends, enabling us to optimize our
      services and tailor them to better meet your needs. Rest assured that we will never sell or disclose your personal information to third parties for marketing purposes without your explicit
      consent.
    </p>
    <h4 class="display-xs text-semibold sub-question" classMd="text-xl">Do we use cookies and other tracking technologies?</h4>
    <p class="text-lg text-regular" classMd="text-md">
      Yes, we may use cookies, web beacons, and similar tracking technologies to enhance your browsing experience, analyze usage patterns, and personalize content. Cookies are small files stored on
      your device that help us remember your preferences and improve the performance of our web application. They also allow us to track and analyze user behavior, gather demographic information, and
      measure the effectiveness of our marketing campaigns. You have the option to disable cookies through your browser settings, although this may affect certain features of our web application.
    </p>
    <h4 class="display-xs text-semibold sub-question" classMd="text-xl">How long do we keep your information?</h4>
    <p class="text-lg text-regular" classMd="text-md">
      We retain your personal information for as long as necessary to fulfill the purposes outlined in this privacy policy, unless a longer retention period is required or permitted by law. We
      regularly review and securely delete information that is no longer needed. In certain cases, we may anonymize your data for research or statistical purposes, ensuring that it can no longer be
      associated with you personally.
    </p>
    <h4 class="display-xs text-semibold sub-question" classMd="text-xl">How do we keep your information safe?</h4>
    <p class="text-lg text-regular" classMd="text-md">
      At Sphience, we take the security of your personal information seriously. We have implemented a range of technical, organizational, and administrative measures to protect your data against
      unauthorized access, alteration, disclosure, or destruction. These measures include encryption, firewalls, secure server infrastructure, and regular security audits. We also restrict access to
      your personal information to authorized personnel only, who are bound by strict confidentiality obligations.
    </p>
    <h3 class="display-sm text-semibold question" classMd="display-xs">What are your privacy rights?</h3>
    <p class="text-lg text-regular" classMd="text-md">
      As a user of our web application, you have certain privacy rights. You have the right to access, correct, update, or request the deletion of your personal information. If you believe that the
      information we hold about you is inaccurate or incomplete, you can contact us to have it rectified. You can also object to the processing of your information or request a restriction on its
      processing. To exercise these rights or inquire about the information we hold about you, please contact us using the details provided below.
    </p>
    <h4 class="display-xs text-semibold sub-question" classMd="text-xl">How can you contact us about this policy?</h4>
    <p class="text-lg text-regular" classMd="text-md">
      If you have any questions or concerns about our privacy policy or the handling of your personal information, you can contact us at <u class="text-link">privacy@spience.be</u>. We have a
      dedicated privacy team that will address your inquiries and work with you to resolve any privacy-related issues. Please note that this privacy policy may be subject to change.
    </p>
  </div>
</section>
