@import 'variables';

:host {
  .details-card {
    overflow: scroll;
    padding: 24px 32px;

    @include breakpoint-sm() {
      padding: 24px 8px;
    }

    &__header {
      gap: 24px;

      &.university-header {
        margin-top: 20px;
      }
    }

    &__content {
      display: flex !important;
      flex-direction: column;
      margin-top: 24px;
      gap: 20px;

      p {
        flex: 0 1 200px;
      }

      .content-field {
        gap: 32px;

        .form-fields {
          max-width: 512px;
          gap: 24px;

          @include breakpoint-md() {
            flex-direction: column;
          }
        }
      }
    }
  }

  .details__footer {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
    padding: 0px 32px;

    @include breakpoint-sm() {
      padding: 0px 8px;
    }

    .actions {
      gap: 12px;
      justify-content: end;
    }
  }
}
