<div class="flex-column full-width">
  <mat-card class="details-card full-height" [formGroup]="detailsForm">
    <mat-card-header class="flex-column details-card__header">
      <mat-card-title>Personal info</mat-card-title>
      <mat-card-subtitle>Update personal details and contact information here.</mat-card-subtitle>
      <mat-divider></mat-divider>
    </mat-card-header>
    <mat-card-content class="flex-column details-card__content">
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Name</p>
        <div class="flex-row form-fields full-width">
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">First name</mat-label>
            <input formControlName="firstName" matInput type="text" placeholder="Enter first name" />
          </mat-form-field>
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Last name</mat-label>
            <input formControlName="lastName" matInput text="text" placeholder="Enter last name" />
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Phone</p>
        <div class="form-fields full-width">
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Phone</mat-label>
            <input formControlName="phoneNumber" matInput text="tel" placeholder="Enter phonenumber" />
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Email</p>
        <div class="form-fields full-width">
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Email</mat-label>
            <input formControlName="email" matInput text="tel" placeholder="Enter email" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-header class="flex-column details-card__header university-header">
      <mat-card-title>University info</mat-card-title>
      <mat-card-subtitle>Update your university details here.</mat-card-subtitle>
      <mat-divider></mat-divider>
    </mat-card-header>
    <mat-card-content class="flex-column details-card__content">
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Academic role</p>
        <div class="form-fields full-width">
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Academic role</mat-label>
            <mat-select formControlName="role" placeholder="Select your role">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ getRoleTranslation(role) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Field of Study</p>
        <div class="flex-row form-fields full-width">
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Faculty</mat-label>
            <mat-select formControlName="faculty" placeholder="Select your department" (selectionChange)="onFacultyChange($event)">
              <mat-option *ngFor="let faculty of faculties" [value]="faculty">
                {{ getFacultyTranslation(faculty) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Program</mat-label>
            <mat-select formControlName="program" placeholder="Select your program">
              <mat-option *ngFor="let program of getPrograms()" [value]="program">
                {{ getProgramTranslation(program) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">University ID</p>
        <div class="form-fields full-width">
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">University ID</mat-label>
            <input formControlName="universityId" matInput type="text" placeholder="Enter ID number" />
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-row content-field">
        <p *ngIf="!isMobile" class="text-sm text-semibold">Year of Graduation</p>
        <div class="form-fields full-width">
          <mat-form-field *skeleton="loadingUser; type: isMobile ? skeletonType.FORM_FIELD : skeletonType.FORM_FIELD_WITHOUT_LABEL">
            <mat-label *ngIf="isMobile" class="text-sm text-medium">Year of Graduation</mat-label>
            <input formControlName="yearOfGraduation" matInput text="number" placeholder="Graduation year" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="details__footer">
    <mat-divider class="full-width"></mat-divider>
    <div class="actions flex-row full-width">
      <button mat-stroked-button class="md">Cancel</button>
      <app-progress-button size="md" [loading]="savingDetails" (progressClick)="saveDetails()">Save</app-progress-button>
    </div>
  </div>
</div>
