@import 'variables';

:host {
  .details-card {
    overflow: scroll;
    padding: 0px 32px;

    @include breakpoint-sm() {
      padding: 0px 8px;
    }

    &__header {
      gap: 24px;

      &.university-header {
        margin-top: 20px;
      }

      &.personal-info {
        & > div {
          gap: 4px;

          @include breakpoint-sm() {
            flex-direction: column;
            gap: 16px;
          }
        }

        .actions {
          gap: 12px;
        }

        ::ng-deep .mat-mdc-card-header-text {
          display: none !important;
        }
      }
    }

    &__content {
      display: flex !important;
      flex-direction: column;
      margin-top: 24px;
      gap: 20px;

      p {
        flex: 0 1 200px;
      }

      .content-field {
        gap: 32px;

        .form-fields {
          max-width: 512px;
          gap: 24px;

          @include breakpoint-md() {
            flex-direction: column;
          }
        }
      }
    }
  }
}
