<div class="datepicker">
  <div class="datepicker__header">
    <mat-icon svgIcon="chevron-left" aria-hidden="false" class="icon" (click)="goToPreviousMonth()"></mat-icon>
    <span class="header__title">{{ currentMonth }}</span>
    <mat-icon svgIcon="chevron-right" aria-hidden="false" class="icon" (click)="goToNextMonth()"></mat-icon>
  </div>

  <div class="datepicker__calendar">
    <div class="calendar__weekdays">
      <div *ngFor="let weekday of weekdays" class="weekday">
        {{ weekday }}
      </div>
    </div>
    <div class="calendar__dates">
      <div class="dates__date">
        <div *ngFor="let date of calendarDates" class="date" [class.selected]="date.selected" [class.in-current-month]="isDateInCurrentMonth(date)" (click)="selectDate(date)">
          {{ date.date.getDate() }}
        </div>
      </div>
      <div class="dates__rage">
        <div
          *ngFor="let date of getRangeDates()"
          class="range"
          [class.in-range]="isDateInRange(date)"
          [class.in-range__saturday]="isDateInRangeAndSaturday(date)"
          [class.in-range__sunday]="isDateInRangeAndSunday(date)"
        ></div>
      </div>
    </div>
  </div>
</div>
