@import 'variables';

:host {
  .datepicker {
    width: 354px;
    padding: 20px 24px;
    border: 1px solid #ccc;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 8px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      padding: 6px 8px;

      .header__title {
        font-size: $fs-400;
        font-weight: $fw-600;
      }
    }

    &__calendar {
      $calendar-gap: 4px;
      $item-width: 40px;
      $item-height: 40px;

      display: flex;
      flex-direction: column;
      gap: $calendar-gap;

      .calendar__weekdays {
        display: flex;
        justify-content: space-between;
        font-weight: bold;

        .weekday {
          width: $item-width;
          height: $item-height;
          flex: 1;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .calendar__dates {
        $date-border-radius: 50%;

        position: relative;

        .dates__date {
          display: grid;
          grid-template-columns: repeat(7, auto);
          place-items: center;
          gap: 4px;

          .date {
            width: $item-width;
            height: $item-height;

            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            border-radius: $date-border-radius;
            color: $color-grey-600;
            font-weight: $fw-500;

            &.in-current-month {
              color: $color-grey-800;
            }

            &.selected {
              background-color: $color-primary-600;
              color: $color-white;
            }
          }
        }

        .dates__rage {
          display: grid;
          grid-template-columns: repeat(14, auto);
          place-items: center;
          row-gap: $calendar-gap;

          position: absolute;
          z-index: -1;
          top: 0;

          .range {
            width: calc($item-width/2);
            height: $item-height;

            &:nth-of-type(2n):not(:nth-of-type(14n)) {
              width: calc($item-width/2 + $calendar-gap);
            }
          }

          .in-range {
            background-color: $color-primary-200;

            &__saturday {
              border-top-right-radius: calc($item-width/2);
              border-bottom-right-radius: calc($item-width/2);
            }

            &__sunday {
              border-top-left-radius: calc($item-width/2);
              border-bottom-left-radius: calc($item-width/2);
            }
          }
        }
      }
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $color-grey-600;
    cursor: pointer;
  }
}
