@import 'variables';

:host {
  .article {
    padding: 96px 112px 64px 112px;

    @include breakpoint-md() {
      padding: 64px;
    }

    @include breakpoint-sm() {
      padding: 64px 16px;
    }

    &::before {
      width: 100vw;
      height: 1440px;
      position: absolute;
      z-index: -1;
      top: 28px;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url('../../../../../assets/svg/illustration/grid-desktop.svg');
      background: radial-gradient(50% 50% at 50% 50%, $color-grey-200 0%, transparent 100%);
      content: '';
    }
  }
}
