@import 'variables';

:host {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;

    &__logo {
      gap: 8px;
      align-items: center;
      color: $color-grey-900;

      .logomark {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        border: 0.1px solid $color-grey-200;

        .logo-blur {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
        }
      }
    }

    &__hamburger {
      position: relative;
      z-index: 1;
      padding: 8px;
      color: $color-grey-500;

      @include breakpoint-sm() {
        display: inline-block;
      }

      .hamburger-icon > * {
        transition: all 0.3s ease;
        transform-origin: center;
        transform-style: preserve-3d;
      }

      &.opened {
        #bottom-line {
          transform: translate(4.5px, -4px) rotate(45deg);
        }

        #middle-line {
          opacity: 0;
        }

        #top-line {
          transform: translate(4.5px, 4px) rotate(-45deg);
        }
      }
    }
  }

  .navigation__divider {
    padding: 0 8px;
  }
}
