@import 'variables';

:host {
  .table {
    gap: 24px;

    @include breakpoint-sm() {
      box-shadow: none;
    }

    &__filter {
      @include breakpoint-sm() {
        padding: 0 16px;
      }
    }

    &__element {
      border-radius: 12px;
      border: 1px solid $color-grey-200;
      background: $color-white;
      overflow: hidden;

      @include breakpoint-sm() {
        border-radius: 0;
        border: none;
      }

      &__header {
        border-bottom: 1px solid $color-grey-200;
        padding: 20px 24px;
        justify-content: space-between;
        gap: 16px;

        @include breakpoint-sm() {
          padding: 0 24px 24px 24px;
          flex-direction: column;
        }

        .header__title-and-description {
          gap: 4px;

          .header__title {
            align-items: center;
            gap: 8px;
          }
        }

        .download {
          width: fit-content;
        }
      }

      .data-type {
        &__text {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__text-and-description {
          * {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          p {
            color: $color-grey-500;
          }
        }

        &__multiple-badges {
          gap: 8px;
        }
      }

      .action-icon {
        min-width: 40px;
        width: 40px;
        min-height: 40px;
        height: 40px;
        font-size: 40px;
        padding: 10px;
      }
    }

    &__paginator {
      padding: 12px 24px 16px 24px;
      border-top: 1px solid $color-grey-200;

      @include breakpoint-sm() {
        padding: 16px 0 5px 0;
        margin: 16px 16px 0 16px;
      }
    }
  }
}

::ng-deep {
  .mat-column-delete {
    min-width: 72px !important;
    max-width: 72px !important;
    padding: 16px !important;
  }

  .mat-column-edit {
    min-width: 72px !important;
    max-width: 72px !important;
    padding: 16px !important;
  }

  .mat-mdc-header-row:has(.mat-column-delete):has(.mat-column-edit),
  .mat-mdc-row:has(.mat-column-delete):has(.mat-column-edit) {
    .mat-column-delete {
      min-width: 58px !important;
      max-width: 58px !important;
      padding: 16px 2px 16px 16px !important;
    }

    .mat-column-edit {
      min-width: 58px !important;
      max-width: 58px !important;
      padding: 16px 16px 16px 2px !important;
    }
  }
}
