<div class="filter flex-row" [formGroup]="filterForm">
  <ng-container *ngFor="let filter of filters">
    <mat-form-field *ngIf="filter.type === filterType.TEXT" class="filter__search full-width">
      <mat-icon matIconPrefix svgIcon="search"></mat-icon>
      <input matInput [formControlName]="filter.field" [placeholder]="'Search for ' + filter.field" />
    </mat-form-field>
    <mat-form-field *ngIf="filter.type === filterType.ENUM" class="other-filter">
      <mat-select [formControlName]="filter.field" [placeholder]="'Select ' + filter.field" multiple>
        <mat-option *ngFor="let enumValue of filter.enumValues" [value]="enumValue">
          {{ getEnumTranslationKey(filter.field, enumValue) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filter.type === filterType.DATE" class="other-filter">
      <app-datepicker-input [formControlName]="filter.field"></app-datepicker-input>
    </mat-form-field>
  </ng-container>
  <button mat-stroked-button class="filter__button md" (click)="openFilterDialog()">
    <mat-icon svgIcon="filter-lines"></mat-icon>
    More filters
  </button>
</div>
