@import 'variables';

:host {
  .filter {
    gap: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    align-items: center;
    background-color: $color-grey-50;

    @include breakpoint-md() {
      padding: 0;
      background-color: transparent;
    }

    @include breakpoint-sm() {
      flex-direction: column;
    }

    &__search {
      flex: 3;
      margin-right: auto;

      @include breakpoint-sm() {
        max-width: unset;
      }
    }

    &__clear {
      margin-left: auto;
      margin-bottom: 0;

      @include breakpoint-sm() {
        display: none;
      }
    }

    .other-filter {
      flex: 2;

      @include breakpoint-md() {
        display: none;
      }
    }

    &__button {
      display: none;

      @include breakpoint-md() {
        display: block;
        width: 20%;
      }

      @include breakpoint-sm() {
        width: 100%;
      }
    }

    .active-filters {
      gap: 12px;
      align-items: start;
    }
  }
}
