@import 'variables';

:host {
  .filter {
    gap: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    align-items: center;
    background-color: $color-grey-50;

    @include breakpoint-sm() {
      flex-direction: column;
      padding: 0;
      background-color: transparent;
    }

    &__search {
      max-width: 400px;
      margin-right: auto;

      @include breakpoint-sm() {
        max-width: unset;
      }
    }

    &__clear {
      margin-left: auto;
      margin-bottom: 0;

      @include breakpoint-sm() {
        display: none;
      }
    }

    .other-filter {
      @include breakpoint-sm() {
        display: none;
      }
    }

    &__button {
      display: none;

      @include breakpoint-sm() {
        display: block;
        width: 100%;
      }
    }
  }
}

::ng-deep {
  .cdk-overlay-container .cdk-overlay-backdrop {
    background-color: $color-grey-900;
    opacity: 0.7 !important;
  }

  .cdk-overlay-pane:has(.filter-menu) {
    $padding: 16px;
    margin-top: 4px;
    left: $padding !important;
    width: 100%;

    .filter-menu {
      width: 100%;
      max-width: calc(100vw - 2 * $padding) !important;
      border-radius: 8px;
      box-shadow: 0px 4px 6px -2px rgba($color-grey-900, 0.03), 0px 12px 16px -4px rgba($color-grey-900, 0.08) !important;

      .mat-mdc-menu-content {
        padding: 16px;
      }
    }
  }
}
