<div class="datepicker flex-row" [matMenuTriggerFor]="isTablet ? null : calendar" (click)="openDatepickerDialog()">
  <input #input matInput class="datepicker__input" [placeholder]="getPlaceholder()" [value]="getDisplayValue()" [disabled]="disabled" readonly />
  <mat-icon *ngIf="!isTablet && value" class="datepicker__icon cursor-pointer" svgIcon="close-small" (click)="$event.stopPropagation(); clear()"></mat-icon>
  <mat-icon class="datepicker__icon cursor-pointer" svgIcon="calendar"></mat-icon>
</div>
<mat-menu class="calendar-menu shadow-xl-important" #calendar="matMenu">
  <app-datepicker-menu [dateRange]="dateRange" (closeMenu)="onMenuClose($event)" (click)="$event.stopPropagation()"></app-datepicker-menu>
</mat-menu>
