<mat-sidenav-container fullscreen cdkscrollable (backdropClick)="onSidenavToggle()">
  <mat-sidenav class="home" position="end" #sidenav role="navigation">
    <app-navigation-sidebar (sidenavClose)="toggleSidenav(false)"></app-navigation-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="content" [class.sidebar-open]="sidenavOpened">
    <main>
      <app-navigation-header [sidenavOpened]="sidenavOpened" (sidenavToggle)="onSidenavToggle()"></app-navigation-header>
      <router-outlet (activate)="onActivate()"></router-outlet>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
