@import 'variables';

:host {
  $padding-form-horizontal: 140px;
  $padding-form-top: 128px;

  .register-section {
    position: relative;
    padding-top: $padding-form-top;
    align-items: center;
    overflow-x: hidden;

    @include breakpoint-sm() {
      padding: 48px 16px;
    }

    &::before {
      width: 768px;
      height: 768px;
      position: absolute;
      z-index: -1;
      top: 144px;
      left: calc(50% - 164px);
      transform: translate(-50%, -50%);
      mask-image: url('../../../assets/svg/illustration/circle-desktop.svg');
      background: radial-gradient(50% 50% at 50% 50%, $color-grey-200 0%, transparent 100%);
      content: '';

      @include breakpoint-sm() {
        top: 64px;
      }

      @include breakpoint-xs() {
        left: 32px !important;
      }
    }

    > div {
      max-width: 360px;
    }

    &.email-verification {
      > div {
        max-width: 100%;
        align-items: center;

        > div {
          align-items: center;
        }
      }

      &::before {
        left: calc(50% - 48px);
      }
    }
  }

  .register__logo {
    position: relative;
    gap: 8px;
    align-items: center;

    mat-icon {
      min-width: 32px;
      min-height: 32px;
    }
  }

  .register__header {
    margin-top: 80px;
    align-items: start;
    gap: 12px;

    h2 {
      color: $color-grey-900;
      text-align: center;
    }

    p {
      color: $color-grey-600;
      text-align: center;
    }
  }

  .register__form {
    margin-top: 32px;
    max-width: 360px;
    width: 100%;
    position: relative;

    @include breakpoint-xs() {
      width: 100%;
    }

    .form__step-one {
      gap: 24px;

      .form__email {
        gap: 16px;
      }

      .has-account {
        margin-top: 12px;
        text-align: center;
      }
    }

    .form__step-two {
      gap: 24px;

      .form__password {
        gap: 16px;
      }
    }

    .email-verification {
      max-width: 100%;
      align-items: center;
      gap: 32px;

      .resend-verification {
        text-align: center;
      }

      &__manual {
        gap: 24px;
      }

      ::ng-deep app-verification-code-input {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        form {
          justify-content: center;
        }

        @include breakpoint-sm() {
          all: unset;
          width: 100%;

          form {
            justify-content: space-around;
          }
        }
      }

      > p {
        align-items: center;
        gap: 8px;
      }
    }
  }

  .register__process {
    margin-bottom: 64px;

    @include breakpoint-sm() {
      margin-bottom: 0;
    }
  }
}
