<section class="register-section flex-column full-height" [class.email-verification]="canShowStep(registrationStep.EMAIL_VERIFICATION)">
  <div class="full-width full-height flex-column">
    <div class="register__logo flex-row cursor-pointer" routerLink="/">
      <mat-icon svgIcon="logo-color"></mat-icon>
      <h3>Sphience</h3>
    </div>
    <div class="register__header flex-column">
      <h2 class="display-md text-semibold" classMd="display-xs">{{ getTitle() }}</h2>
      <p *ngIf="getSubtitle()" class="text-md text-regular">
        {{ getSubtitle() }}
      </p>
    </div>
    <div class="register__form full-height">
      <form *ngIf="canShowStep(registrationStep.EMAIL)" [formGroup]="emailForm" class="flex-column form__step-one">
        <div class="flex-column form__email">
          <mat-form-field>
            <input matInput formControlName="email" type="text" placeholder="Enter your email" />
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="goToPassword()">Continue</button>
        </div>
        <app-divider-with-text text="OR"></app-divider-with-text>
        <button mat-stroked-button (click)="openDashboard()"><mat-icon svgIcon="google-color" class="google-icon"></mat-icon> Sign up with Google</button>
        <div class="has-account">
          <span class="text-sm text-regular">Already have an account? <a routerLink="/login">Log in</a></span>
        </div>
      </form>
      <form *ngIf="canShowStep(registrationStep.PASSWORD)" [formGroup]="passwordForm" class="flex-column form__step-two">
        <div class="flex-column form__password">
          <mat-form-field>
            <input matInput formControlName="password" type="password" placeholder="Choose a password" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm password" />
          </mat-form-field>
        </div>
        <app-progress-button type="button" [loading]="loadingSignUp" (click)="goToEmailVerification()">Continue</app-progress-button>
      </form>
      <form *ngIf="canShowStep(registrationStep.EMAIL_VERIFICATION)" [formGroup]="verificationCodeForm" class="flex-column email-verification full-width">
        <app-verification-code-input
          *ngIf="canEnterCodeManually && !emailVerified"
          formControlName="verificationCode"
          [invalid]="verificationCodeForm.invalid && verificationCodeForm.touched"
        ></app-verification-code-input>
        <app-progress-button type="button" class="full-width" [loading]="loadingVerification" (click)="onVerificationButtonClick()">{{ getVerificationButtonText() }}</app-progress-button>
        <div *ngIf="!emailVerified" class="resend-verification">
          <span class="text-sm text-regular">
            Didn&#8217;t receive the email? <a [class.cursor-pointer]="canResendVerification" (click)="resendVerification()">{{ getResendText() }}</a>
          </span>
        </div>
        <p class="text-sm text-semibold flex-row cursor-pointer" routerLink="/login"><mat-icon svgIcon="arrow-left"></mat-icon>Back to log in</p>
      </form>
    </div>
  </div>
  <app-progress-steps class="register__process" [steps]="steps"></app-progress-steps>
</section>
