<div class="article">
  <div class="article__heading">
    <p class="text-md text-semibold published" classMd="text-sm">Published {{ getDate(article.published) }}</p>
    <h2 class="display-lg text-semibold title" classMd="display-md">{{ article.title }}</h2>
    <p class="text-xl text-regular subtitle" classMd="text-lg">{{ article.subtitle }}</p>
    <div class="flex-row categories">
      <p *ngFor="let category of article.categories" class="text-sm text-medium">{{ category }}</p>
    </div>
  </div>
  <div class="content flex-column">
    <ng-container *ngFor="let content of article.content">
      <div class="content__item content__introduction" *ngIf="isContentIntroduction(content.type)">
        <h3 class="display-sm text-semibold title" classMd="display-xs">
          {{ getTitle(content) }}
        </h3>
        <p *ngFor="let text of getText(content)">{{ text }}</p>
      </div>
      <div class="content__item content__image" *ngIf="isContentImage(content.type)">
        <img [src]="getImageSource(content)" alt="" srcset="" />
      </div>
      <div class="content__item content__text" *ngIf="isContentText(content.type)">
        <h4 class="display-xs text-semibold" classMd="text-xl">{{ getTitle(content) }}</h4>
        <p *ngFor="let text of getText(content)">{{ text }}</p>
      </div>
      <div class="content__item content__quote" *ngIf="isContentQuote(content.type)">
        <p class="display-xs text-medium text-italic quote" classMd="text-xl">''{{ getQuoteText(content) }}''</p>
        <p class="text-md text-regular author">— {{ getQuoteAuthor(content) }}</p>
      </div>
      <div class="content__item content__conclusion" *ngIf="isContentConclusion(content.type)">
        <h4 class="display-sm text-semibold title" classMd="display-xs">
          {{ getTitle(content) }}
        </h4>
        <p *ngFor="let text of getText(content)">{{ text }}</p>
      </div>
    </ng-container>
  </div>
</div>
