@import 'variables';

:host {
  @include breakpoint-sm() {
    padding: 48px 16px;
  }

  .landing-page {
    padding: 0 112px;

    @include breakpoint-md() {
      padding: 0 64px;
    }

    @include breakpoint-sm() {
      padding: 48px 16px;
    }

    p {
      color: $color-grey-600 !important;
    }
  }

  .hero {
    gap: 64px;

    &::before {
      width: 100vw;
      height: 1440px;
      position: absolute;
      z-index: -1;
      top: 28px;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url('../../../assets/svg/illustration/grid-desktop.svg');
      background: radial-gradient(50% 50% at 50% 50%, $color-grey-200 0%, transparent 100%);
      content: '';
    }

    &__content {
      margin-top: 204px;
      align-items: center;

      @include breakpoint-md() {
        margin-top: 160px;
      }

      @include breakpoint-sm() {
        margin-top: 80px;
      }

      h2 {
        text-align: center;
        color: $color-grey-900;
      }

      p {
        max-width: 800px;
        margin-top: 24px;
        text-align: center;
      }

      .content__sign-up {
        max-width: 480px;
        margin-top: 48px;
        gap: 16px;

        ::ng-deep mat-hint {
          white-space: nowrap;
        }

        @include breakpoint-sm() {
          ::ng-deep mat-hint {
            white-space: normal;
          }
        }

        button {
          min-width: 128px;
        }

        @include breakpoint-sm() {
          width: 100%;
        }

        @include breakpoint-xs() {
          flex-direction: column;
        }
      }
    }

    &__illustration {
      height: 480px;
      border-radius: 8px;
      background-color: $color-primary-600;
    }
  }

  .social-proof {
    padding: 96px 0;
    text-align: center;

    @include breakpoint-sm() {
      padding: 64px 0;
    }

    .universities {
      margin-top: 32px;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;

      @include breakpoint-sm() {
        gap: 16px;
      }

      .university {
        align-items: center;
        gap: 12px;

        mat-icon {
          width: 36px;
          height: 36px;
        }

        p {
          color: $color-grey-900 !important;
          font-size: $fs-200;
          white-space: nowrap;
        }

        @include breakpoint-sm() {
          gap: 8px;

          mat-icon {
            width: 28px;
            height: 28px;
            font-size: $fs-100;
          }
        }
      }
    }
  }

  .features {
    padding: 96px calc(50vw - 50%);
    margin: 0 calc(50% - 50vw);
    align-items: center;
    background-color: $color-grey-50;

    @include breakpoint-sm() {
      padding: 64px calc(50vw - 50%);
    }

    &__heading {
      max-width: 808px;
      text-align: center;

      .heading__title {
        color: $color-primary-700 !important;
      }

      h3 {
        margin-top: 12px;
      }

      .heading__supporting-text {
        margin-top: 20px;
      }
    }

    &__content {
      margin-top: 64px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 32px;
      row-gap: 64px;

      @include breakpoint-lg() {
        row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      @include breakpoint-md() {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-auto-flow: row;
      }
    }
  }

  .testimonial {
    padding: 96px 0;
    align-items: center;

    @include breakpoint-sm() {
      padding: 64px 0;
    }

    &__logo {
      gap: 8px;
      align-items: center;

      mat-icon {
        min-width: 32px;
        min-height: 32px;
      }
    }

    &__text {
      max-width: 1040px;
      margin-top: 32px;
      text-align: center;
    }

    &__author {
      margin-top: 20px;
      gap: 4px;
    }
  }

  .faq {
    padding: 96px 0;
    align-items: center;
    gap: 64px;

    @include breakpoint-sm() {
      padding: 64px 0;
    }

    &__heading {
      text-align: center;

      p {
        margin-top: 20px;
      }
    }

    &__content {
      max-width: 768px;

      .faq-item {
        &:not(:last-child) .expendable-item {
          margin-bottom: 32px;
        }
        &:not(:first-child) .expendable-item {
          margin-top: 24px;
        }
      }
    }

    &__more {
      background-color: $color-grey-50;
      border-radius: 16px;
      padding: 32px;
      justify-content: space-between;

      @include breakpoint-lg() {
        gap: 8px;
      }

      @include breakpoint-sm() {
        flex-direction: column;
        gap: 24px;
      }

      .more__title {
        gap: 8px;
      }

      button {
        min-width: 130px;
        width: 130px;
      }
    }
  }
}
