<footer class="footer">
  <div class="footer__content flex-row">
    <div class="content__logo-and-text">
      <div class="logo flex-row cursor-pointer" routerLink="/">
        <mat-icon svgIcon="logo-color"></mat-icon>
        <h3>Sphience</h3>
      </div>
      <p class="text-md text-regular support-text">Experience a new era of research collaboration.</p>
    </div>
    <div class="content__links flex-row">
      <div class="flex-column link-column" *ngFor="let item of footerLinks">
        <h5 class="heading text-sm text-semibold">{{ item.header }}</h5>
        <ul class="flex-column links">
          <li class="text-md text-semibold cursor-pointer" *ngFor="let link of item.links" [routerLink]="link.url">{{ link.value }}</li>
        </ul>
      </div>
    </div>
  </div>
  <mat-divider class="footer__divider"></mat-divider>
  <div class="footer__copyright flex-row">
    <p class="text-md text-regular">&copy; 2023 Sphience. All rights reserved.</p>
    <div class="social-media-icons flex-row">
      <mat-icon svgIcon="twitter"></mat-icon>
      <mat-icon svgIcon="linkedin"></mat-icon>
      <mat-icon svgIcon="instagram"></mat-icon>
      <mat-icon svgIcon="github"></mat-icon>
    </div>
  </div>
</footer>
