@import 'variables';

:host {
  .overview {
    padding: 24px 32px;

    @include breakpoint-sm() {
      padding: 24px 8px;
    }

    &__metrics {
      gap: 24px;
      flex-wrap: wrap;
      overflow: hidden;

      @include breakpoint-md() {
        flex-direction: column;
      }

      .metric-card {
        flex: 1 0 250px;

        @include breakpoint-md() {
          flex: 1;
        }
      }
    }
  }
}
