<div class="about">
  <section class="about__header flex-row">
    <div class="header__mission">
      <p class="text-md text-semibold subheading" classMd="text-sm">About us</p>
      <h3 class="display-lg text-semibold heading" classMd="display-md">Our mission is to improve research collaboration</h3>
    </div>
    <p class="text-xl text-regular supporting-text header__info" classMd="text-lg">
      Sphience simplifies research equipment management for academia, empowering students, PhDs, and professors to drive growth and innovation.
    </p>
  </section>
  <section class="about__metrics">
    <app-metrics-section [metrics]="stats"></app-metrics-section>
  </section>
  <section class="about__story">
    <div>
      <p class="text-md text-semibold subheading" classMd="text-sm">Our story</p>
      <h3 class="display-md text-semibold heading" classMd="display-sm">Revolutionizing research equipment accessibility</h3>
      <p class="text-xl text-regular supporting-text" classMd="text-lg">Breaking barriers, enabling innovation, empowering the academic community</p>
    </div>
    <div class="story__content flex-row">
      <p>
        Sphience began with a vision to revolutionize the way scientific research is conducted and pave the way for groundbreaking discoveries. From the very beginning, we set out on a mission to
        break down barriers and empower researchers, students, and professors in their pursuit of knowledge.<br /><br />

        With a dedicated team of innovators and technologists, we embarked on a journey to create a comprehensive platform that would simplify research equipment management and foster collaboration
        within the academic community. Every step of the way, we were driven by a passion for excellence and a commitment to delivering cutting-edge solutions.<br /><br />
        From the initial stages of development to the rigorous testing and fine-tuning, our team poured their expertise and creativity into crafting a platform that would revolutionize the research
        landscape. We embraced the latest technologies, leveraging them to create an intuitive and efficient system that streamlines workflows, optimizes resource allocation, and enhances the
        efficiency of scientific endeavors.
      </p>
      <p>
        Throughout our journey, we have remained steadfast in our values of innovation, collaboration, quality, and integrity. We believe that by providing researchers with easy access to the
        resources they need and fostering a collaborative environment, we can push the boundaries of scientific exploration and unlock new possibilities.<br /><br />
        Today, Sphience stands as a testament to our unwavering dedication and the collective efforts of our team. We are proud to empower the academic community with a platform that bridges the gap
        between research equipment availability and researchers' needs. Our commitment to advancing scientific knowledge continues to drive us forward as we strive to shape the future of research.<br /><br />
        Join us on this remarkable journey as we unleash potential, advance knowledge, and pave the way for a brighter future of scientific discovery. Together, let's redefine what is possible and
        make a lasting impact on the world of research.
      </p>
    </div>
  </section>
  <mat-divider class="about__divider"></mat-divider>
</div>
