<mat-form-field class="form-field" [class.no-hint]="!hint" floatLabel="always">
  <mat-label>{{ label }}</mat-label>
  <div class="input-field">
    <mat-icon
      *ngIf="leadingIcon"
      [svgIcon]="leadingIcon"
      aria-hidden="false"
      class="icon leading-icon"
    ></mat-icon>
    <input matInput [placeholder]="placeholder" [type]="type" />
    <mat-icon
      *ngIf="trailingIcon"
      [svgIcon]="trailingIcon"
      aria-hidden="false"
      class="icon trailing-icon"
    ></mat-icon>
  </div>
  <mat-hint>{{ hint }}</mat-hint>
</mat-form-field>
