<div class="filter flex-column">
  <form *ngFor="let filter of filters" class="filter__form flex-column" [formGroup]="filterForm">
    <mat-form-field *ngIf="filter.type === filterType.ENUM" class="other-filter" (click)="$event.stopPropagation()">
      <mat-select [formControlName]="filter.field" [placeholder]="'Select ' + filter.field" multiple>
        <mat-option *ngFor="let enumValue of filter.enumValues" [value]="enumValue">
          {{ getEnumTranslationKey(filter.field, enumValue) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filter.type === filterType.DATE" class="other-filter">
      <mat-select [formControlName]="filter.field" [placeholder]="'Select ' + filter.field">
        <mat-option *ngFor="let enumValue of filter.enumValues" [value]="enumValue">
          {{ getEnumTranslationKey(filter.field, enumValue) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <footer class="filter__actions flex-row">
    <button mat-stroked-button class="full-width" (click)="cancel()">Cancel</button>
    <button mat-flat-button class="full-width" color="primary" (click)="confirm()">Apply</button>
  </footer>
</div>
