<div class="filter flex-column">
  <header class="filter__header flex-column">
    <h3 class="text-lg text-semibold">Set filters</h3>
    <p class="text-sm text-regular">Refine your selection</p>
    <mat-icon class="header__close cursor-pointer" svgIcon="close" (click)="cancel()"></mat-icon>
  </header>
  <mat-divider></mat-divider>
  <form class="filter__form flex-column" [formGroup]="filterForm">
    <ng-container *ngFor="let filter of filters">
      <mat-form-field *ngIf="filter.type === filterType.ENUM" class="other-filter" (click)="$event.stopPropagation()">
        <mat-label class="text-sm text-medium">{{ filter.field.charAt(0).toUpperCase() + filter.field.slice(1) }}</mat-label>
        <mat-select [formControlName]="filter.field" [placeholder]="'Select ' + filter.field" multiple>
          <mat-option *ngFor="let enumValue of filter.enumValues" [value]="enumValue">
            {{ getEnumTranslationKey(filter.field, enumValue) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="filter.type === filterType.DATE" class="other-filter">
        <mat-label class="text-sm text-medium">{{ filter.field.charAt(0).toUpperCase() + filter.field.slice(1) }}</mat-label>
        <app-datepicker-input [formControlName]="filter.field"></app-datepicker-input>
      </mat-form-field>
    </ng-container>
  </form>
  <mat-divider></mat-divider>
  <footer class="filter__actions flex-row">
    <button mat-stroked-button class="full-width" (click)="cancel()">Cancel</button>
    <button mat-flat-button class="full-width" color="primary" (click)="confirm()">Apply</button>
  </footer>
</div>
