<div class="table flex-column full-height">
  <app-filter class="table__filter" [filters]="filters" (filterChange)="onFilterChange($event)"></app-filter>

  <div class="table__element flex-column full-height">
    <mat-table class="full-height shadow-xs" [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
        {{ column.field }}
        <mat-header-cell *matHeaderCellDef [mat-sort-header]="column?.sortField ? column.sortField : column.field" [disabled]="!column.sort">{{ column.name }}</mat-header-cell>

        <mat-cell *matCellDef="let row">
          <ng-container [ngSwitch]="column.type">
            <ng-container *ngSwitchCase="tableDataType.TEXT">
              <span class="data-type__text" *skeleton="loadingData; type: skeletonType.TEXT_SM">{{ row[column.field] }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="tableDataType.TEXT_AND_DESCRIPTION">
              <div class="data-type__text-and-description flex-column full-width">
                <h4 class="text-sm text-regular" *skeleton="loadingData; type: skeletonType.TEXT_SM">{{ row[column.titleKey] }}</h4>
                <p class="text-sm text-regular" *skeleton="loadingData; type: skeletonType.TEXT_SM">{{ row[column.descriptionKey] }}</p>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="tableDataType.BADGE">
              <app-badge *skeleton="loadingData; type: skeletonType.BADGE_SM" [color]="getBadgeColor(column.field, row[column.field])" [size]="getBadgeSize(column.field)">
                {{ getBadgeTranslationKey(column.field, row[column.field]) | translate }}
              </app-badge>
            </ng-container>
            <ng-container *ngSwitchCase="tableDataType.MULTIPLE_BADGES">
              <app-multiple-badges class="full-width" [badges]="row[column.field]" [column]="column"></app-multiple-badges>
            </ng-container>
            <ng-container *ngSwitchCase="tableDataType.AVATAR">
              <app-table-avatar *skeleton="loadingData; type: skeletonType.TABLE_AVATAR" [name]="row[column.avatarNameKey]" [email]="row[column.avatarEmailKey]"></app-table-avatar>
            </ng-container>
            <ng-container *ngSwitchCase="tableDataType.DATE">
              <span *skeleton="loadingData; type: skeletonType.TEXT_SM">{{ row[column.field] | date }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="tableDataType.DELETE">
              <mat-icon class="action-icon cursor-pointer" svgIcon="trash" (click)="delete(row['id'])"></mat-icon>
            </ng-container>
            <ng-container *ngSwitchCase="tableDataType.EDIT">
              <mat-icon class="action-icon cursor-pointer" svgIcon="pencil" (click)="edit(row['id'])"></mat-icon>
            </ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <mat-paginator class="table__paginator" [pageSizeOptions]="[10]"></mat-paginator>
  </div>
</div>
