@import "../../scss/variables.scss";

::ng-deep app-custom-input {
  margin: 0 -4px -6px -4px !important;
  // margin: -6px -4px -12px -4px !important;
}

:host {
  .input-field {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid $color-grey-300;

    .leading-icon {
      width: 20px;
      height: 20px;
      color: $color-grey-600;
    }

    .trailing-icon {
      width: 16px;
      height: 16px;
      color: $color-grey-500;
    }

    &:hover,
    &:focus-within,
    &:active {
      border: 1px solid $color-primary-400;
      box-shadow: 0px 1px 2px $color-grey-100,
        0px 0px 0px 4px $color-primary-200;
    }
  }

  .no-hint {
    ::ng-deep .mat-mdc-text-field-wrapper {
      margin-bottom: -1.25em;
    }
  }
}
