@import 'variables';

$border-radius: 12px;

:host {
  .card {
    position: relative;
    padding: 24px;
    gap: 8px;
    border-radius: $border-radius;
    border: 1px solid $color-grey-200;
    background-color: $color-white;

    @include breakpoint-sm() {
      padding: 20px 16px;
    }

    &__metrics {
      gap: 16px;
      align-items: end;
      justify-content: space-between;

      .badge {
        padding-bottom: 8px;

        @include breakpoint-sm() {
          padding-bottom: 4px;
        }
      }
    }

    .dropdown {
      position: absolute;
      right: 19.667px;
      top: 20px;
      color: $color-grey-400;

      @include breakpoint-sm() {
        right: 16px;
        top: 16px;
      }
    }
  }
}
