<div class="details flex-column full-height">
  <header class="details__header">
    <h2 class="text-lg text-semibold">Device details</h2>
    <p class="text-sm text-regular">View the details, added documents and images</p>
    <mat-icon class="close cursor-pointer" svgIcon="close" (click)="close.emit()"></mat-icon>
  </header>
  <mat-divider class="divider"></mat-divider>
  <div class="details__content flex-column">
    <img class="image full-width" src="../../../../../assets/image/device.webp" [alt]="'Picture of ' + device?.name" />
    <div>
      <h3 class="text-xl text-semibold">{{ device?.name }}</h3>
      <p class="text-md text-regular">{{ 'RESEARCH_DEVICE_TYPE.' + device?.type | translate }}</p>
    </div>
    <button mat-flat-button color="primary" class="md icon-only" (click)="addReservation()">Add reservation</button>
    <p class="text-md text-regular">
      The machine is currently <app-badge [color]="device?.available ? greenColor : redColor">{{ device?.available ? 'Available' : 'Unavailable' }}</app-badge>
    </p>
    <div class="information flex-column">
      <div>
        <h4 class="text-md text-medium">Description</h4>
        <p class="text-md text-regular">{{ device?.description }}</p>
      </div>
      <div>
        <h4 class="text-md text-medium">Location</h4>
        <p class="text-md text-regular">{{ device?.location }}</p>
      </div>
      <div class="programs-wrapper flex-column">
        <h4 class="text-md text-medium">Related programs</h4>
        <div class="programs flex-row">
          <app-badge *ngFor="let program of device?.relatedPrograms">{{ 'PROGRAM.' + program | translate }}</app-badge>
        </div>
      </div>
      <div class="documents-wrapper flex-column">
        <h4 class="text-md text-medium">Documents</h4>
        <div class="documents flex-column">
          <div class="document flex-row">
            <mat-icon class="file" svgIcon="file-pdf"></mat-icon>
            <div>
              <h5 class="text-sm text-medium">Machine requirements.pdf</h5>
              <p class="text-sm text-regular">2.3 MB</p>
            </div>
            <mat-icon class="download" svgIcon="download"></mat-icon>
          </div>
          <div class="document flex-row">
            <mat-icon class="file" svgIcon="file-pdf"></mat-icon>
            <div>
              <h5 class="text-sm text-medium">Manual.pdf</h5>
              <p class="text-sm text-regular">7 MB</p>
            </div>
            <mat-icon class="download" svgIcon="download"></mat-icon>
          </div>
        </div>
      </div>
      <!-- <div>
        <h4 class="text-md text-medium">Images</h4>
        <p class="text-md text-regular">/</p>
      </div> -->
    </div>
  </div>
</div>
