@import 'variables';

:host {
  .file-input {
    display: none;
  }

  .file-upload {
    align-items: center;
    padding: 16px 24px;
    border-radius: 12px;
    border: 1px solid $color-grey-200;

    &:hover {
      border-color: $color-primary-400;
    }

    &.invalid {
      border-color: $color-error-300;

      &:hover {
        border-color: $color-error-400;
      }
    }

    h3 {
      margin-top: 12px;
      color: $color-grey-600;

      span {
        color: $color-primary-700;
      }
    }

    p {
      margin-top: 4px;
      color: $color-grey-600;
    }
  }
}
