<aside class="full-height sidebar flex-column" [ngStyle]="{ width: getSidebarWidth() }">
  <div class="sidebar__logo flex-row">
    <div class="logomark">
      <mat-icon class="full-width full-height" svgIcon="logo-illustration"></mat-icon>
      <div class="logo-blur"></div>
    </div>
    <h3 *ngIf="!isDesktopSidebarCollapsed()">Sphience</h3>
  </div>

  <nav class="sidebar__navigation flex-column full-height full-width">
    <div class="navigation__top navigation__items flex-column">
      <ng-container *ngFor="let item of topNavigationItems">
        <div *ngIf="item.permissions.includes(role)" class="navigation-item flex-row" [class.active]="isNavigationItemActive(item.id)" [routerLink]="item.routerLink" (click)="onNavigationChange()">
          <mat-icon class="icon" [svgIcon]="item.icon"></mat-icon>
          <p class="text text-md text-semibold" *ngIf="!isDesktopSidebarCollapsed()">{{ item.name }}</p>
        </div>
      </ng-container>
    </div>
    <div class="navigation__items flex-column">
      <div class="navigation-item flex-row" *ngFor="let item of bottomNavigationItems" [class.active]="isNavigationItemActive(item.id)" [routerLink]="item.routerLink" (click)="onNavigationChange()">
        <mat-icon class="icon" [svgIcon]="item.icon"></mat-icon>
        <p class="text text-md text-semibold" *ngIf="!isDesktopSidebarCollapsed()">{{ item.name }}</p>
      </div>
      <div class="navigation-item change-sidebar flex-row" (click)="changeSidebarSize()">
        <mat-icon class="icon" [svgIcon]="collapsed ? 'arrow-to-right' : 'left-arrow-from-left'"></mat-icon>
        <p class="text text-md text-semibold" *ngIf="!isDesktopSidebarCollapsed()">Close</p>
      </div>
      <div *ngIf="canShowLogoutNavigationItem()" class="navigation-item flex-row" (click)="signOut()">
        <mat-icon class="icon" svgIcon="sign-out"></mat-icon>
        <p class="text text-md text-semibold" *ngIf="!isDesktopSidebarCollapsed()">Logout</p>
      </div>
    </div>
    <mat-divider *ngIf="isMobile" class="footer-divider"></mat-divider>
    <div *ngIf="!isUserProfileIncomplete()" class="profile-item" [class.compact]="isDesktopSidebarCollapsed()">
      <div class="profile flex-row cursor-pointer">
        <div *ngIf="isDesktopSidebarCollapsed()" class="profile__avatar" [matMenuTriggerFor]="changeContentMenu">
          <mat-icon svgIcon="user"></mat-icon>
        </div>
        <div *ngIf="!isDesktopSidebarCollapsed()" class="profile__avatar">
          <mat-icon svgIcon="user"></mat-icon>
        </div>
        <div *ngIf="!isDesktopSidebarCollapsed()">
          <h3 *ngIf="user.name" class="profile__name text-sm text-semibold">{{ user.name }}</h3>
          <p class="profile__email text-sm text-regular">{{ user.email }}</p>
        </div>
        <mat-icon class="profile__signout icon" svgIcon="sign-out" *ngIf="!isDesktopSidebarCollapsed()" (click)="signOut()"></mat-icon>
      </div>
    </div>
  </nav>
</aside>

<mat-menu class="bottom-nav-items shadow-xl-important" #changeContentMenu="matMenu">
  <div *ngFor="let item of bottomNavigationItems" mat-menu-item [routerLink]="item.routerLink" (click)="onNavigationChange()">
    <mat-icon [svgIcon]="item.icon"></mat-icon>
    <p class="text-sm text-medium">{{ item.name }}</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-menu-item (click)="signOut()">
    <mat-icon svgIcon="sign-out"></mat-icon>
    <p class="text-sm text-medium">Logout</p>
  </div>
</mat-menu>
