@import 'variables';

:host {
  .details {
    overflow: hidden;

    @include breakpoint-sm() {
      height: unset;
      overflow: scroll;
    }

    &__header {
      position: relative;
      padding: 16px;

      .close {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 44px;
        height: 44px;
        padding: 10px;
        color: $color-grey-500;
      }
    }

    .divider {
      margin: 0 16px;
    }

    &__content {
      gap: 16px;
      padding: 24px 16px 16px 16px;
      overflow: scroll;

      @include breakpoint-sm() {
        overflow: hidden;
      }

      .image {
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
      }

      .information {
        gap: 24px;

        .documents-wrapper {
          gap: 16px;

          .documents {
            gap: 12px;
          }
        }

        .programs-wrapper {
          gap: 16px;

          .programs {
            gap: 8px;
          }
        }
      }
    }
  }

  .document {
    padding: 16px;
    gap: 12px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid $color-grey-200;

    .file {
      width: 40px;
      height: 40px;
    }

    .download {
      margin-left: auto;
      color: $color-grey-600;
    }
  }
}
