@use '@angular/material' as mat;

@include mat.core();
@import './scss/variables.scss';

$my-primary: mat.define-palette(
  (
    25: $color-primary-25,
    50: $color-primary-50,
    100: $color-primary-100,
    200: $color-primary-200,
    300: $color-primary-300,
    400: $color-primary-400,
    500: $color-primary-500,
    600: $color-primary-600,
    700: $color-primary-700,
    800: $color-primary-800,
    900: $color-primary-900,
    950: $color-primary-950,
    contrast: (
      25: $color-primary-700,
      50: $color-primary-700,
      100: $color-primary-700,
      200: $color-primary-700,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      950: white
    )
  )
);

$my-accent: mat.define-palette(
  (
    25: $color-accent-25,
    50: $color-accent-50,
    100: $color-accent-100,
    200: $color-accent-200,
    300: $color-accent-300,
    400: $color-accent-400,
    500: $color-accent-500,
    600: $color-accent-600,
    700: $color-accent-700,
    800: $color-accent-800,
    900: $color-accent-900,
    950: $color-accent-950,

    contrast: (
      25: $color-grey-900,
      50: $color-grey-900,
      100: $color-grey-900,
      200: white,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      950: white
    )
  ),
  500
);

$my-error: mat.define-palette(
  (
    25: $color-error-25,
    50: $color-error-50,
    100: $color-error-100,
    200: $color-error-200,
    300: $color-error-300,
    400: $color-error-400,
    500: $color-error-500,
    600: $color-error-600,
    700: $color-error-700,
    800: $color-error-800,
    900: $color-error-900,
    950: $color-error-950,
    contrast: (
      25: $color-error-700,
      50: $color-error-700,
      100: $color-error-700,
      200: $color-error-700,
      300: $color-error-700,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      950: white
    )
  )
);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-error
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($my-theme);

html,
body,
material-app,
mat-sidenav-container {
  height: 100%;
  width: 100%;
  margin: 0;
}
