.mat-calendar {
  .mat-calendar-header {
    padding: 0;
  }

  .mat-calendar-content {
    .mat-calendar-table-header {
      background-color: aquamarine;
    }

    .mat-calendar-body-label {
      background-color: blueviolet;
    }
  }
}
