@import './colors.scss';
@import './typography.scss';

.mat-mdc-card {
  box-shadow: none !important;

  .mat-mdc-card-header {
    padding: 0px;

    .mat-mdc-card-header-text {
      .mat-mdc-card-title {
        font-family: $font-family !important;
        font-size: $fs-300;
        font-weight: $fw-600;
        line-height: 150%;
        color: $color-grey-900;
      }

      .mat-mdc-card-subtitle {
        margin-top: 4px;
        font-family: $font-family !important;
        font-size: $fs-50;
        font-weight: $fw-400;
        line-height: 143%;
        color: $color-grey-900;
      }
    }
  }

  .mat-mdc-card-content,
  .mat-mdc-card-actions {
    padding: 0px !important;
  }

  .mat-mdc-card-actions {
    flex-direction: unset !important;
  }
}
