$color-white: #ffffff;
$color-black: #000000;

$color-grey-25: #fcfcfd;
$color-grey-50: #f9fafb;
$color-grey-100: #f2f4f7;
$color-grey-200: #eaecf0;
$color-grey-300: #d0d5dd;
$color-grey-400: #98a2b3;
$color-grey-500: #667085;
$color-grey-600: #475467;
$color-grey-700: #344054;
$color-grey-800: #1d2939;
$color-grey-900: #101828;
$color-grey-950: #0c111d;

$color-primary-25: #fcfaff;
$color-primary-50: #f9f5ff;
$color-primary-100: #f4ebff;
$color-primary-200: #e0d7fe;
$color-primary-300: #d6bbfb;
$color-primary-400: #b692f6;
$color-primary-500: #9e77ed;
$color-primary-600: #7f56d9;
$color-primary-700: #6941c6;
$color-primary-800: #53389e;
$color-primary-900: #42307d;
$color-primary-950: #2c1c5f;

// $color-primary-25: #f5f8ff;
// $color-primary-50: #eef4ff;
// $color-primary-100: #e0eaff;
// $color-primary-200: #c7d7fe;
// $color-primary-300: #a4bcfd;
// $color-primary-400: #8098f9;
// $color-primary-500: #6172f3;
// $color-primary-600: #444ce7;
// $color-primary-700: #3538cd;
// $color-primary-800: #2d31a6;
// $color-primary-900: #2d3282;
// $color-primary-950: #1f235b;

// $color-primary-25: #fcfcfd;
// $color-primary-50: #f8f9fc;
// $color-primary-100: #eaecf5;
// $color-primary-200: #d5d9eb;
// $color-primary-300: #b3b8db;
// $color-primary-400: #717bbc;
// $color-primary-500: #4e5ba6;
// $color-primary-600: #3e4784;
// $color-primary-700: #363f72;
// $color-primary-800: #293056;
// $color-primary-900: #101323;
// $color-primary-950: #0d0f1c;

$color-accent-25: #effaf4;
$color-accent-50: #dff6ea;
$color-accent-100: #d0f1df;
$color-accent-200: #b0e8ca;
$color-accent-300: #90deb5;
$color-accent-400: #71d5a0;
$color-accent-500: #61d095;
$color-accent-600: #57bb86;
$color-accent-700: #449268;
$color-accent-800: #31684b;
$color-accent-900: #1d3e2d;
$color-accent-950: #0a150f;

$color-error-25: #fffbfa;
$color-error-50: #fef3f2;
$color-error-100: #fee4e2;
$color-error-200: #fecdca;
$color-error-300: #fda29b;
$color-error-400: #f97066;
$color-error-500: #f04438;
$color-error-600: #d92d20;
$color-error-700: #b42318;
$color-error-800: #912018;
$color-error-900: #7a271a;
$color-error-950: #55160c;

$color-warning-25: #fffcf5;
$color-warning-50: #fffaeb;
$color-warning-100: #fef0c7;
$color-warning-200: #fedf89;
$color-warning-300: #fec84b;
$color-warning-400: #fdb022;
$color-warning-500: #f79009;
$color-warning-600: #dc6803;
$color-warning-700: #b54708;
$color-warning-800: #93370d;
$color-warning-900: #7a2e0e;
$color-warning-950: #4e1d09;

$color-success-25: #ecfdf3;
$color-success-50: #ecfdf3;
$color-success-100: #dcfae6;
$color-success-200: #abefc6;
$color-success-300: #75e0a7;
$color-success-400: #47cd89;
$color-success-500: #17b26a;
$color-success-600: #079455;
$color-success-700: #067647;
$color-success-800: #085d3a;
$color-success-900: #074d31;
$color-success-950: #053321;

// $color-primary: hsl(289, 52%, 61%);
// $color-secondary: hsl(170, 100%, 32%);
// $color-success: hsl(111, 55%, 37%);
// $color-info: hsl(195, 100%, 42%);
// $color-warning: hsl(34, 100%, 53%);
// $color-danger: hsl(0, 70%, 46%);
// $color-neutral: hsl(0, 0%, 60%);

// $color-background-light: hsl(0, 0%, 100%);
// $color-text-light: hsl(0, 0%, 0%);

// $color-primary-100: hsl(313, 57%, 91%);
// $color-primary-200: hsl(314, 58%, 85%);
// $color-primary-300: hsl(315, 51%, 76%);
// $color-primary-400: hsl(317, 46%, 65%);
// $color-primary-500: $color-primary;
// $color-primary-600: hsl(273, 49%, 45%);
// $color-primary-700: hsl(255, 46%, 37%);
// $color-primary-800: hsl(233, 48%, 34%);
// $color-primary-900: hsl(230, 55%, 30%);

// $color-secondary-100: hsl(164, 40%, 91%);
// $color-secondary-200: hsl(164, 45%, 79%);
// $color-secondary-300: hsl(164, 50%, 67%);
// $color-secondary-400: hsl(164, 55%, 56%);
// $color-secondary-500: $color-secondary;
// $color-secondary-600: hsl(182, 100%, 25%);
// $color-secondary-700: hsl(192, 100%, 23%);
// $color-secondary-800: hsl(201, 100%, 21%);
// $color-secondary-900: hsl(208, 100%, 20%);

// $color-success-100: hsl(109, 60%, 89%);
// $color-success-200: hsl(108, 65%, 78%);
// $color-success-300: hsl(108, 67%, 67%);
// $color-success-400: hsl(107, 67%, 56%);
// $color-success-500: $color-success;
// $color-success-600: hsl(121, 58%, 28%);
// $color-success-700: hsl(131, 63%, 24%);
// $color-success-800: hsl(141, 70%, 21%);
// $color-success-900: hsl(151, 80%, 18%);

// $color-info-100: hsl(195, 67%, 95%);
// $color-info-200: hsl(194, 67%, 85%);
// $color-info-300: hsl(194, 67%, 75%);
// $color-info-400: hsl(193, 66%, 65%);
// $color-info-500: $color-info;
// $color-info-600: hsl(204, 100%, 35%);
// $color-info-700: hsl(212, 100%, 31%);
// $color-info-800: hsl(220, 100%, 28%);
// $color-info-900: hsl(227, 100%, 25%);

// $color-warning-100: hsl(34, 100%, 90%);
// $color-warning-200: hsl(34, 100%, 80%);
// $color-warning-300: hsl(34, 100%, 70%);
// $color-warning-400: hsl(34, 100%, 60%);
// $color-warning-500: $color-warning;
// $color-warning-600: hsl(28, 100%, 38%);
// $color-warning-700: hsl(22, 100%, 34%);
// $color-warning-800: hsl(17, 100%, 30%);
// $color-warning-900: hsl(13, 100%, 27%);

// $color-danger-100: hsl(0, 70%, 88%);
// $color-danger-200: hsl(0, 70%, 78%);
// $color-danger-300: hsl(0, 70%, 68%);
// $color-danger-400: hsl(0, 70%, 58%);
// $color-danger-500: $color-danger;
// $color-danger-600: hsl(3, 70%, 32%);
// $color-danger-700: hsl(5, 70%, 28%);
// $color-danger-800: hsl(7, 70%, 24%);
// $color-danger-900: hsl(10, 70%, 20%);

// $color-neutral-100: hsl(0, 0%, 100%);
// $color-neutral-200: hsl(0, 0%, 98%);
// $color-neutral-300: hsl(0, 0%, 95%);
// $color-neutral-400: hsl(0, 0%, 85%);
// $color-neutral-500: $color-neutral;
// $color-neutral-600: hsl(0, 0%, 40%);
// $color-neutral-700: hsl(0, 0%, 30%);
// $color-neutral-800: hsl(0, 0%, 20%);
// $color-neutral-900: hsl(0, 0%, 10%);
