@import './colors.scss';
@import './typography.scss';

.mat-mdc-form-field {
  width: 100%;

  .mat-mdc-text-field-wrapper {
    padding: 0;

    &.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
      --mat-mdc-form-field-label-transform: none;
      transform: none;
    }

    .mat-mdc-form-field-flex {
      // height: 66px;

      .mdc-notched-outline {
        top: -28px;
        left: -4px;

        &__leading,
        &__trailing {
          display: none;
        }

        &__notch {
          width: fit-content;
          .mdc-floating-label mat-label {
            color: $color-grey-700;
          }
        }

        & > div {
          border: 0;
        }
      }

      .mat-mdc-form-field-infix {
        display: flex;
        align-items: center;
        margin-top: 24px;
        padding: 0;
        min-height: 40px;
        border-radius: 8px;
        border: 1px solid $color-grey-300;
        background-color: $color-white;

        &:hover {
          border: 1px solid $color-primary-400;
        }

        & > * {
          width: 100%;
          height: 24px;
          color: $color-grey-900;
          caret-color: $color-grey-900;
          font-weight: $fw-400;
          font-size: $fs-100;
          line-height: 150%;

          padding: 8px 12px;
          border-radius: 7px;
        }

        input::placeholder {
          color: $color-grey-500;
        }

        &:has(.mat-mdc-select[aria-expanded='true']) {
          border: 1px solid $color-primary-300;
          box-shadow: 0px 1px 2px $color-grey-100, 0px 0px 0px 4px $color-primary-100;
        }
      }

      .mat-mdc-select {
        display: flex;
        align-items: center;
        gap: 8px;

        .mat-mdc-select-trigger {
          .mat-mdc-select-value .mat-mdc-select-placeholder {
            color: $color-grey-500;
          }

          .mat-mdc-select-arrow-wrapper {
            transform: translateY(0px);

            .mat-mdc-select-arrow {
              width: 20px;
              height: 20px;
              background-color: $color-grey-600;
              -webkit-mask-image: url('../assets/svg/chevron-down.svg');
              -webkit-mask-position: center;
              mask-image: url('../assets/svg/chevron-down.svg');
              mask-position: center;
              transition: background-color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);

              svg {
                fill: transparent;
              }
            }
          }
        }
      }
    }

    &.mdc-text-field--focused {
      .mat-mdc-form-field-flex {
        .mat-mdc-form-field-infix {
          border: 1px solid $color-primary-300;
          box-shadow: 0px 1px 2px $color-grey-100, 0px 0px 0px 4px $color-primary-100;
        }
      }
    }

    &.mdc-text-field--disabled .mat-mdc-form-field-flex {
      .mat-mdc-form-field-infix {
        border: 1px solid $color-grey-300;
        background-color: $color-grey-50;

        .mat-mdc-input-element,
        .mat-mdc-select .mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-value-text .mat-mdc-select-min-line {
          color: $color-grey-500;
        }

        .mat-mdc-select .mat-mdc-select-trigger .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
          background-color: $color-grey-400;
        }

        input::placeholder {
          color: $color-grey-400;
        }
      }

      .mat-mdc-select {
        .mat-mdc-select-trigger {
          .mat-mdc-select-value .mat-mdc-select-placeholder {
            color: $color-grey-400;
          }

          .mat-mdc-select-arrow-wrapper {
            .mat-mdc-select-arrow {
              background-color: $color-grey-400 !important;
            }
          }
        }
      }
    }
  }

  .mdc-text-field--no-label {
    .mat-mdc-form-field-flex {
      height: fit-content;

      .mat-mdc-form-field-infix {
        margin-top: 0;
      }
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    .mat-mdc-form-field-error-wrapper {
      padding: 0;

      .mat-mdc-form-field-error {
        color: $color-error-500;
      }
    }

    .mat-mdc-form-field-hint-wrapper {
      padding: 0;

      .mat-mdc-form-field-hint {
        color: $color-grey-600;
      }
    }
  }

  &.mat-form-field-invalid {
    .mdc-text-field--invalid {
      .mat-mdc-form-field-infix {
        border-color: $color-error-300;

        &:hover {
          border-color: $color-error-400;
        }
      }
    }

    &.mat-focused {
      .mdc-text-field--invalid {
        .mat-mdc-form-field-flex {
          .mdc-notched-outline {
            &__notch {
              .mdc-floating-label {
                .mat-mdc-form-field-required-marker::after {
                  color: $color-error-500;
                }
              }
            }
          }
        }

        .mat-mdc-form-field-infix {
          border-color: $color-error-300;
          box-shadow: 0px 1px 2px $color-grey-100, 0px 0px 0px 4px $color-error-100;
        }
      }
    }
  }
}

.mat-mdc-select-panel {
  $item-border-radius: 6px;
  $margin-on-option-item: 6px;

  display: flex !important;
  flex-direction: column;
  gap: 4px;

  margin-top: 4px !important;
  padding: 0 !important;
  background: $color-white;
  border: 1px solid $color-grey-200;
  border-radius: 8px !important;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03) !important;

  .mat-mdc-option {
    margin: 0px $margin-on-option-item;

    &:first-of-type {
      margin-top: $margin-on-option-item;
    }

    &:last-of-type {
      margin-bottom: $margin-on-option-item;
    }

    &:hover:not(.mdc-list-item--disabled) {
      border-radius: $item-border-radius;
    }

    .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
      content: '';
      width: 20px;
      height: 20px;
      top: 0;
      background-color: $color-primary-600;
      -webkit-mask-image: url('../assets/svg/check.svg');
      -webkit-mask-position: center;
      mask-image: url('../assets/svg/check.svg');
      mask-position: center;
      transform: none;

      svg {
        fill: transparent;
      }
    }
  }

  .mat-mdc-option-active {
    background: $color-grey-100;
    border-radius: $item-border-radius;
  }
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: $color-grey-900 !important;
}
