@import './colors.scss';
@import './typography.scss';

.mat-mdc-form-field {
  .mat-mdc-text-field-wrapper {
    padding: 0;

    &.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
      --mat-mdc-form-field-label-transform: none;
      transform: none;
    }

    .mat-mdc-form-field-flex {
      height: 66px;

      .mdc-notched-outline {
        top: -28px;
        left: -4px;

        &__leading,
        &__trailing {
          display: none;
        }

        &__notch {
          width: fit-content;
          .mdc-floating-label mat-label {
            color: $color-grey-700;
          }
        }

        & > div {
          border: 0;
        }
      }

      .mat-mdc-form-field-infix {
        display: flex;
        align-items: center;
        margin-top: 24px;
        padding: 8px 12px;
        min-height: 40px;
        border-radius: 8px;
        border: 1px solid $color-grey-300;
        background-color: $color-white;

        &:hover {
          border: 1px solid $color-primary-400;
        }

        & > * {
          width: 100%;
          height: 24px;
          color: $color-grey-900;
          caret-color: $color-grey-900;
          font-weight: $fw-400;
          font-size: $fs-100;
          line-height: 150%;
        }

        input::placeholder {
          color: $color-grey-500;
        }
      }
    }

    &.mdc-text-field--focused .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
      border: 1px solid $color-primary-300;
      box-shadow: 0px 1px 2px $color-grey-100, 0px 0px 0px 4px $color-primary-100;
    }

    &.mdc-text-field--disabled .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
      border: 1px solid $color-grey-300;
      background-color: $color-grey-50;

      .mat-mdc-input-element {
        color: $color-grey-500;
      }
    }
  }

  .mdc-text-field--no-label {
    .mat-mdc-form-field-flex {
      height: fit-content;

      .mat-mdc-form-field-infix {
        margin-top: 0;
      }
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    .mat-mdc-form-field-hint-wrapper {
      margin-top: 4px;
      padding: 0;

      .mat-mdc-form-field-hint {
        color: $color-grey-600;
      }
    }
  }

  &.mat-form-field-invalid {
    .mdc-text-field--invalid {
      .mat-mdc-form-field-infix {
        border-color: $color-error-300;

        &:hover {
          border-color: $color-error-400;
        }
      }
    }

    &.mat-focused {
      .mdc-text-field--invalid {
        .mat-mdc-form-field-flex {
          .mdc-notched-outline {
            &__notch {
              .mdc-floating-label {
                .mat-mdc-form-field-required-marker::after {
                  color: $color-error-500;
                }
              }
            }
          }
        }

        .mat-mdc-form-field-infix {
          border-color: $color-error-300;
          box-shadow: 0px 1px 2px $color-grey-100, 0px 0px 0px 4px $color-error-100;
        }
      }
    }
  }
}
