@import './colors.scss';
@import './forms.scss';
@import './reset-file.scss';
@import './typography.scss';
@import './buttons.scss';
@import './checkbox.scss';
@import './other-components.scss';

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.hidden {
  display: none;
}

.featured-icon {
  display: flex !important;
  align-items: center;
  height: 40px !important;
  width: 40px !important;
  padding: 10px;
  border: 1px solid $color-grey-200;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  background-color: $color-white;
}

@mixin breakpoint-xs {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media (max-width: 1280px) {
    @content;
  }
}
