@import "./colors.scss";
@import "./forms.scss";
@import "./reset-file.scss";
@import "./typography.scss";
@import "./buttons.scss";

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

@mixin breakpoint-xs {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media (max-width: 1280px) {
    @content;
  }
}
