<section class="register-section flex-column full-height">
  <div class="full-height">
    <div class="register__logo flex-row">
      <mat-icon svgIcon="logo-color"></mat-icon>
      <h3>Sphience</h3>
    </div>
    <div class="register__header flex-column">
      <h2 class="display-md text-semibold">{{ getTitle() }}</h2>
      <p *ngIf="getSubtitle()" class="text-md text-regular">
        {{ getSubtitle() }}
      </p>
    </div>
    <form class="register__form">
      <div
        *ngIf="canShowStep(registrationSteps.EMAIL)"
        class="flex-column form__step-one"
      >
        <div class="flex-column form__email">
          <app-custom-input placeholder="Enter your email"></app-custom-input>
          <button
            mat-flat-button
            color="primary"
            class="register__continue"
            (click)="goToPassword()"
          >
            Continue
          </button>
        </div>
        <app-divider-with-text text="OR"></app-divider-with-text>
        <button mat-stroked-button>
          <mat-icon svgIcon="google-color" class="google-icon"></mat-icon> Sign
          up with Google
        </button>
        <div class="has-account">
          <span class="text-sm text-regular">
            Already have an account? <a href="/">Log in</a>
          </span>
        </div>
      </div>
      <div
        *ngIf="canShowStep(registrationSteps.PASSWORD)"
        class="flex-column form__step-two"
      >
        <div class="flex-column form__password">
          <app-custom-input
            type="password"
            placeholder="Choose a password"
          ></app-custom-input>
          <app-custom-input
            type="password"
            placeholder="Confirm password"
          ></app-custom-input>
        </div>
        <button
          mat-flat-button
          color="primary"
          class="register__continue"
          type="button"
          (click)="goToDetails()"
        >
          Continue
        </button>
      </div>
      <div
        *ngIf="canShowStep(registrationSteps.DETAILS)"
        class="flex-column form__step-three"
      >
        <div class="flex-column form__details">
          <app-custom-dropdown
            label="Department/Faculty"
            placeholder="Select your department"
            [options]="faculties"
          ></app-custom-dropdown>
          <app-custom-dropdown
            label="Field of Study/Research"
            placeholder="Select your field"
            [options]="fields"
          ></app-custom-dropdown>
          <div class="flex-row">
            <app-custom-input
              type="text"
              label="Student/Researcher ID"
              placeholder="Enter ID number"
            ></app-custom-input>
            <app-custom-input
              type="text"
              label="Year of Graduation"
              placeholder="Graduation year"
            ></app-custom-input>
          </div>
          <app-custom-input
            type="text"
            label="Phone Number"
            placeholder="Contact number"
          ></app-custom-input>
        </div>
        <button
          mat-flat-button
          color="primary"
          class="register__continue"
          disabled
        >
          Continue
        </button>
      </div>
    </form>
  </div>
  <app-progress-steps
    class="register__process"
    [steps]="steps"
  ></app-progress-steps>
</section>
